
<app-nav-marketing *ngIf="depuser=='DMCC'"></app-nav-marketing>
<app-nav-technique *ngIf="depuser=='DTI' && roleuser!='SA'"></app-nav-technique>
<app-nav-admin *ngIf="roleuser=='SA'"></app-nav-admin>



<div class="position">
  
 
    
  <div class="w3-bar w3-border w3-white ">
     <img src="../assets/img/orange/logo1.JPG" alt="">   
  </div>
       
      
      
      
    <div class="crud"> 
      <div>
          <div class="table-responsive" style="overflow: none">
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-sm-6">
                    <h2>Création d'offre</h2>
                  </div>
                
                </div>
              </div>
            </div>
          <form  #f ="ngForm" name="form" (ngSubmit)="onSubmit(f)" autocomplete="off" style="padding: 0 25px 15px;" >
          <br>
            <!-- <h2>Création d'une nouvelle offre</h2> -->
          <p>Veuillez compléter ce formulaire pour enregistrer les informations à propos de cette nouvelle offre : </p>

          
          <table>
            <tr>
              <td class="top" >
                <div class="input-group mb-3">
                  <input [(ngModel)]="bundle.idbundle" name="idbundle"  type="hidden" class="w3-input w3-border-black" placeholder="">
                </div>
            
                <div class="input-group mb-3">    
                  <textarea [(ngModel)]="bundle.nom" name="nom"  type="text" class="w3-input w3-border-black" placeholder="nom"></textarea>
                </div>
                <div class="isCheckbox" style="display: flex;"> 
                  <div class="checkGroup" style="margin-right:0.8%;width: 100%;">
                    <input *ngIf="bundle.isautorenewable==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isautorenewable" value="isautorenewable">
                    <input *ngIf="bundle.isautorenewable==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isautorenewable" value="isautorenewable" checked>
                    <label for="isautorenewable">isAutorenewable</label>
                  </div>
                   
                    <div class="checkGroup" style="width: 100%;">
                      <input *ngIf="bundle.isBuyableForOther==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isBuyableForOther" value="isBuyableForOther">
                      <input *ngIf="bundle.isBuyableForOther==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isBuyableForOther" value="isBuyableForOther" checked>
                      <label for="isBuyableForOther">isBuyableForOther</label>
                    </div>
                </div> 
            
                <div class="isCheckbox" style="display: flex;">
                    <div class="checkGroup" style="margin-right:0.8%;width: 100%;">
                      <input *ngIf="bundle.isBuyableWithLanyCredit==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isBuyableWithLanyCredit" value="isBuyableWithLanyCredit">
                      <input *ngIf="bundle.isBuyableWithLanyCredit==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isBuyableWithLanyCredit" value="isBuyableWithLanyCredit" checked>
                      <label for="isBuyableWithLanyCredit">isBuyableWithLanyCredit</label>
                    </div>
                    <div class="checkGroup" style="width: 100%;">
                      <input *ngIf="bundle.isBuyableByOM==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isBuyableByOM" value="isBuyableByOM">
                      <input *ngIf="bundle.isBuyableByOM==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isBuyableByOM" value="isBuyableByOM" checked>
                      <label for="isBuyableByOM">isBuyableByOM</label>
                    </div>
               </div> 
               <div class="isCheckbox">
                    <div class="checkGroup"   >
                      <input *ngIf="bundle.isbuylimited==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isbuylimited" value="isbuylimited">
                      <input *ngIf="bundle.isbuylimited==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isbuylimited" value="isbuylimited" checked>
                      <label for="isbuylimited">isBuylimited</label>
                    </div> 
                </div>
               
                   
            
                <div class="buyLimitedChecked">
            
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Buyfrequency</span>
                      </div>
                      <input [(ngModel)]="bundle.buyfrequency" name="buyfrequency"  type="text" class="form-control" placeholder="buyfrequency">
                    </div>
                  
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Buymaximum</span>
                      </div>
                      <input [(ngModel)]="bundle.buymaximum" name="buymaximum"  type="number" min="0" (keypress)="onlyInteger($event)" class="form-control" placeholder="isBuyableByOM">
                    </div>
            
                </div>   
                <div class="colmn">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Prix</span>
                        </div>
                        <input [(ngModel)]="bundle.prix" name="prix"  type="number" class="form-control" placeholder="prix">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Taxe</span>
                        </div>
                        <input [(ngModel)]="bundle.taxe" name="taxe"  type="text" class="form-control" placeholder="taxe">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Validite</span>
                        </div>
                        <input [(ngModel)]="bundle.validite" name="validite"  type="text" class="form-control" placeholder="validite">
                      </div>
                      
                </div> 
             
                <div class="input-group mb-3">
                  <textarea [(ngModel)]="bundle.description" name="description"  type="text" class="w3-input w3-border-black" placeholder="description"></textarea>
                </div>
            
            
                <div style="display: flex;">
                  <div style="width: 150px">
                    <div>
                      <span  >Grouprank</span>
                    </div>
                    <input  [(ngModel)]="bundle.grouprank" name="grouprank"  type="number" min="0" (keypress)="onlyInteger($event)"  class="w3-input w3-border-black"  placeholder="grouprank">
                  </div>
            
                  <div class="input-group mb-3" style=" padding-left: 30px;">
                    <div class="input-group-prepend">
                      <span >Groups</span>
                    </div>
                    <select id="groups"  class="w3-input w3-border-black"  [(ngModel)]="bundle.groups" name="groups" style="height: 40px;" (change)="changeSelectedGroups($event)" >
                      <option *ngFor="let groups of lstGroups" value={{groups}}>{{groups}}</option>
                      <option value="autre">Autre...</option>
                    </select>
                    <textarea id="textareaGroups"  class="w3-input w3-border-black"  style="display:none;" placeholder="Veuillez saisir le nouveau 'groups'" ></textarea>
                  </div>
                </div>        
            
                <div style="display: flex;">
                      <div  style="width: 150px;">
                        <div>
                          <span>Groupsrank1</span>
                        </div>
                        <input [(ngModel)]="bundle.groupsrank1" name="groupsrank1"  type="number" min="0" (keypress)="onlyInteger($event)"  class="w3-input w3-border-black"  placeholder="groupsrank1">
                      </div>
            
                      <div class="input-group mb-3" style=" padding-left: 30px;">
                        <div class="input-group-prepend">
                          <span >Groups1</span>
                        </div>
                        <select id="groups1"  class="w3-input w3-border-black"  [(ngModel)]="bundle.groups1" name="groups1" style="height: 40px;" (change)="changeSelectedGroups1($event)" >
                          <option *ngFor="let groups1 of lstGroups1" value={{groups1}}>{{groups1}}</option>
                          <option value="autre">Autre...</option>
                        </select>
                        <textarea id="textareaGroups1"  class="w3-input w3-border-black"  style="display:none;" placeholder="Veuillez saisir le nouveau 'groups1'" ></textarea>
                      </div>
                </div>
            
                <div style="display: flex;"> 
                      <div style="width: 150px;">
                        <div>
                          <span >Groupsrank2</span>
                        </div>
                        <input [(ngModel)]="bundle.groupsrank2" name="groupsrank2"  type="number" min="0" (keypress)="onlyInteger($event)"  class="w3-input w3-border-black"  placeholder="groupsrank2">
                      </div>
            
                      <div class="input-group mb-3"  style=" padding-left: 30px;">
                        <div class="input-group-prepend">
                          <span >Groups2</span>
                        </div>
                        <select id="groups2"  class="w3-input w3-border-black"  [(ngModel)]="bundle.groups2" name="groups2" style="height: 40px;" (change)="changeSelectedGroups2($event)" >
                          <option *ngFor="let groups2 of lstGroups2" value={{groups2}}>{{groups2}}</option>
                          <option value="autre">Autre...</option>
                        </select>
                        <textarea id="textareaGroups2"  class="w3-input w3-border-black"  style="display:none;" placeholder="Veuillez saisir le nouveau 'groups2'" ></textarea>
                      </div>
                </div>
            
                <div style="display: flex;">   
                    <div style="width: 150px;">
                      <div>
                        <span >Groupsrank3</span>
                      </div>
                      <input [(ngModel)]="bundle.groupsrank3" name="groupsrank3"  type="number" min="0" (keypress)="onlyInteger($event)"  class="w3-input w3-border-black"  placeholder="groupsrank3">
                    </div>
                  <div class="input-group mb-3"  style=" padding-left: 30px;">
                      <div class="input-group-prepend">
                        <span >Groups3</span>
                      </div>
                      <select id="groups3"  class="w3-input w3-border-black"  [(ngModel)]="bundle.groups3" name="groups3" style="height: 40px;" (change)="changeSelectedGroups3($event)">
                        <option *ngFor="let groups3 of lstGroups3" value={{groups3}}>{{groups3}}</option>
                        <option value="autre">Autre...</option>
                      </select>
                      <textarea id="textareaGroups3"  class="w3-input w3-border-black"  style="display:none;" placeholder="Veuillez saisir le nouveau 'groups3'" ></textarea>
                    </div>
                </div>
                    
                <div style="display: flex;">   
                    <div style="width: 150px;">
                      <div>
                        <span >Groupsrank4</span>
                      </div>
                      <input [(ngModel)]="bundle.groupsrank4" name="groupsrank4"  type="number" min="0" (keypress)="onlyInteger($event)"  class="w3-input w3-border-black"  placeholder="groupsrank4">
                    </div>
                    <div class="input-group mb-3" style=" padding-left: 30px;">
                      <div class="input-group-prepend">
                        <span >Groups4</span>
                      </div>
                      <select id="groups4"  class="w3-input w3-border-black"  [(ngModel)]="bundle.groups4" name="groups4" style="height: 40px;" (change)="changeSelectedGroups4($event)" >
                        <option *ngFor="let groups4 of lstGroups4" value={{groups4}}>{{groups4}}</option>
                        <option value="autre">Autre...</option>
                      </select>
                      <textarea id="textareaGroups4"  class="w3-input w3-border-black"  style="display:none;" placeholder="Veuillez saisir le nouveau 'groups4'" ></textarea> 
                    </div>
                </div>
                    
                <div style="display: flex;">   
                  <div style="width: 150px;">
                      <div>
                        <span >Groupsrank5</span>
                      </div>
                      <input [(ngModel)]="bundle.groupsrank5" name="groupsrank5"  type="number" min="0" (keypress)="onlyInteger($event)" class="w3-input w3-border-black"  placeholder="groupsrank5">
                    </div>
                    <div class="input-group mb-3"  style=" padding-left: 30px;">
                      <div class="input-group-prepend">
                        <span >Groups5</span>
                      </div>
                      <select id="groups5"  class="w3-input w3-border-black"  [(ngModel)]="bundle.groups5" name="groups5" style="height: 40px;" (change)="changeSelectedGroups5($event)" >
                        <option *ngFor="let groups5 of lstGroups5" value={{groups5}}>{{groups5}}</option>
                        <option value="autre">Autre...</option>
                      </select>
                      <textarea id="textareaGroups5"  class="w3-input w3-border-black"  style="display:none;" placeholder="Veuillez saisir le nouveau 'groups5'" ></textarea> 
                    </div>
                </div>
            
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Generalrank</span>
                  </div>
                  <input [(ngModel)]="bundle.generalrank" name="generalrank"  type="number" min="0" (keypress)="onlyInteger($event)" class="form-control" placeholder="generalrank">
                </div>
              
                <div class="input-group mb-3"> 
                  <textarea [(ngModel)]="bundle.commentaire" name="commentaire"  type="text" class="w3-input w3-border-black" placeholder="commentaire"></textarea>
                </div>
                
            
              </td>
              <td class="top" style="width: 25%;">
                  <!-- Profilebundle -->
                 <!--  <p>Veuillez cocher les profiles associés à cette nouvelle offre : </p> -->
            
                  <div  class="idprofile" style="margin-top: 15px;"> 
                    <div class="inputGroup" *ngFor="let com of lstprofile">
                      <input id={{com.idprofile}} name={{com.idprofile}} (change)="changeValueCheckbox($event)" value={{com.idprofile}} type="checkbox"/>
                      <label for={{com.idprofile}}>{{ com.idprofile }}</label>
                    </div>
                  </div>
              </td>
            </tr>
            
          </table>

          <!-- Bundleofferelementaire -->
          <p>Veuillez cocher l'offre élémentaire nécessaire à la nouvelle offre et préciser sa quantité : </p>

          <table class="w3-table w3-border w3-bordered   w3-centered " >
            <tr>
              <th >Offre élémentaire</th>
              <th >Quantité</th>
            </tr>
            <tr>
              <td>
                <div class="mycontainer">
                  <ul class="ks-cboxtags">   
                    <li *ngFor="let nature of lstnature">
                      <input type="checkbox" (change)="changeValueCheckboxNature($event)" id={{nature}} value={{nature}}>
                      <label for={{nature}}>{{nature}}</label>
                    </li>
                  </ul>
                </div>
              </td>
              <td>
                <div style="width: auto;margin-left:10%;margin-right:10%;" *ngFor="let natureSelected of listeSelectedNature; let i=index">
                  <div class="input-group mb-3" class=" w3-orange  w3-panel w3-round-xlarge" style="padding: 6px;">
                    <div class="input-group-prepend ">
                      <span class="input-group">{{natureSelected}}</span>
                    </div>
                    <div class="quantity" style="display:inline;">
                      <input type="number" min="0" (keypress)="onlyInteger($event)" class="w3-input w3-border-black" style="display:inline; width:70%;margin-right:2px">
                    </div>
                    <input type="text" class="w3-input w3-border-black" style="display:inline; width:25%" value={{listUnit[i]}} readonly>
                  </div>
                </div>
                      
              </td>
            </tr>
          </table>
          <br>


        

                <!--button-->
                <div class="action-area">
                <button   style="margin-right: 2%;" class="w3-hover-black">Créer la nouvelle offre <i class="fa fa-plus-circle" style="font-size:14.5px"></i></button>
                
               </div>

         

        </form>
      </div>


      </div>

</div>



</div>




























