<nav class="w3-sidebar  w3-hide-small" style="overflow: hidden;width:200px;">

    <section class="app">
      <aside class="sidebar">
             <header class="" style="font-size: 22px; color: #ff7900; padding-left: 28px;">
            Menu <i class="fa fa-home"></i>
          </header>
        <nav class="sidebar-nav">

          <ul>
            <li> 
              <a  routerLink={{routerTo}} routerLinkActive="activebutton" class="w3-hover-orange" > <i class="	fa fa-shopping-cart" style="margin-left: 1.5px;margin-right:1.5px;"></i>Offres</a>
            </li>
            <li>   
              <a  routerLink="/Marketing-create" routerLinkActive="activebutton" class="w3-hover-orange" ><i class="fa fa-cart-plus" style="margin-left: 1.5px;margin-right:1.5px;"></i>Création d'offre</a>
            </li>
            <li>
              <a href="#" class="w3-hover-orange" ><i class="	fa fa-info-circle" style="margin-left: 2.5px;margin-right:2.5px;"></i><span class="">Information </span></a>
            </li>
            <li>
              <a routerLink="/"  routerLinkActive="activebutton"  class="w3-hover-orange"><i class="fa fa-sign-out"></i><span>Se déconnecter</span></a>
            </li>
          </ul>
        </nav>
      </aside>
    </section>
    </nav>
  