



.container-fluid{
    /* position: relative; */
    width: 450px;
    height: 575px;
    padding: 50px;

    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    margin: auto;
}





/* .registration-form{
	padding: 20px 0;
    
}  */

.registration-form form{
    background-position-x: 5%;
    background-size: 5%;
    max-width: 400px;
    margin: auto;
    padding: 10px 25px;
/*     border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
	text-align: center;
    background-color: #ff7900 ;
    /* border-radius: 50%; */
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	/* border-radius: 20px; */
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    /* border-radius: 10px; */
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: #ff7900;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media{
   
    background: url(/assets/img/orange/unnamed2.png);
    background-size: cover;
    margin: auto;
    padding: 2px 0;
    text-align: center;
/*     border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
   
    margin-bottom: 16px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #ff7900;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}


/* img{
    position: relative;
    width: 110px;
    left: 30%;
    padding: 5%;
    border-radius: 20%;
    

} */

img{
    /*  position: relative;
     width: 110px;
     left: 30%;
     padding: 5%; */
     width: 110px;
     padding: 20px;
     /* border-radius: 30px; */
     margin-left: calc(50% - 50px);
     
 }

*:focus{
    box-shadow: none;
    border-color: #ff7900;
    outline: none;


}

h5 a{
    font-size: 15px;
}

h5 a:hover{
    color: gray;
}
