<div class="container-fluid">
 
  <div class="registration-form">
      <form  #f ="ngForm" name="form" (ngSubmit)="onSubmit(f)" autocomplete="off">
          <div >
            <img src="../assets/img/orange/logo1.JPG"  alt="">
          </div>

          <div class="form-group">
            <label for="trigramme" style="color:gray">Trigramme</label>
            <input id="trigramme" type="text" maxlength="3" [(ngModel)]="login.trigramme" class="w3-input w3-border-black" (keypress)="onlyAlpha($event)" name="trigramme" placeholder="trigramme"  autofocus required>
          </div>
          <div class="form-group">
            <label for="depuser" style="color:gray">Choisir votre département :</label>
            <select  id="depuser" class="w3-input w3-border-black"  [(ngModel)]="login.depuser"  name="depuser" style="height: 40px;" >
                <option value="DMCC">DMCC</option>
                <option value="DTI">DTI</option>
            </select>
          </div>
         
          <div class="form-group">
              <button class="btn btn-block create-account">Créer un compte</button>
          </div>
      </form>
      
      <div class="social-media">
        
          <h5><a routerLink="/" routerLinkActive="activebutton" style="text-decoration: none;">Annuler</a></h5>
          <div class="social-icons">
           
              <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
              <a href="#"><i class="icon-social-google" title="Google"></i></a>
              <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
          </div>
      </div>
  </div>
</div>

