
<app-nav-technique></app-nav-technique>


<div class="position">


  <app-entete></app-entete>
       
      
    <div class="crud">
      <div>
          <div class="table-responsive" style="font-size: 13px;" >
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-sm-6">
                    <h2>Utilisateur simple <b>DTI</b></h2>
                  </div>
                
                </div>
              </div>



              <table class="table table-striped table-hover "  id="myTable" style="background-color:white ;">
                <thead>
                <tr>
                  
                  <th>Idbundle</th>
                <!-- <th>Isroaming</th>
                  <th>isActive</th>-->
                  <th>Refill</th>
                  <th>Nom</th>
                  <th>isActive</th>
                <!--  <th>Refillinjection</th>
                  <th>isBuyableForOther</th>
                  <th>Refillfwd</th>
                  <th>Refillapi</th>
                  <th>Refilllms</th>
                  <th>Refillmypos</th>
                  <th>Chargingindicator</th>
                  <th>Chargingindicatorom</th>
                  <th>Isautorenewable</th>
                  <th>Pamclass</th>
                  <th>pamservice</th>
                  <th>Pamscheduledl</th>
                  <th>Isbuylimited</th>
                  <th>Buymaximum</th>
                  <th>Buyfrequency</th>
                  <th>Accumulatorid</th> -->
                  <th>Description</th>
                  <th>Prix</th>
                  <!-- <th>Taxe</th> -->
                 <!--  <th>Validite</th> -->
                <!--  <th>isBuyableByOM</th>
                  <th>Refillom</th>
                  <th>isBuyableWithLanyCredit</th>
                  <th>Refilllanycredit</th> -->
                  <th>Groups</th>
                <!--  <th>Grouprank</th> -->
                <!--  <th>Groups1</th> -->
                  <!-- <th>Groupsrank1</th> -->
                <!--  <th>Groups2</th> -->
                <!--  <th>Groupsrank2</th>
                  <th>Groups3</th>
                  <th>Groupsrank3</th>
                  <th>Groups4</th>
                  <th>Groupsrank4</th>
                  <th>Groups5</th>
                  <th>Groupsrank5</th>
                  <th>Generalrank</th>
                  <th>Commentaire</th>-->
                  <th>Actions</th> 
                </tr>
                <tr *ngFor="let com of lstBundleConfig">
                  <td>{{ com.idbundle }}</td>
                  <!-- <td>{{ com.isroaming}}</td> 
                  <td>{{ com.isActive}}</td>-->
                  <td>{{ com.refill}}</td>
                  <td>{{ com.nom }}</td>
                  <td>
                    <span *ngIf="com.isActive==0"><i class="fa fa-close" style="color: red;"></i></span>
                    <span *ngIf="com.isActive==1"><i class="fa fa fa-check" style="color:  #ff7900;"></i></span>
                  </td>
                <!--  <td>{{ com.refillinjection}}</td>
                  <td>{{ com.isBuyableForOther }}</td>
                  <td>{{ com.refillfwd}}</td>
                  <td>{{ com.refillapi }}</td>
                  <td>{{ com.refilllms}}</td>
                  <td>{{ com.refillmypos}}</td>
                  <td>{{ com.chargingindicator}}</td>
                  <td>{{ com.chargingindicatorom}}</td>
                  <td>{{ com.isautorenewable}}</td>
                  <td>{{ com.pamclass}}</td>
                  <td>{{ com.pamservice}}</td>
                  <td>{{ com.pamscheduled }}</td>
                  <td>{{ com.isbuylimited}}</td>
                  <td>{{ com.buymaximum }}</td>
                  <td>{{ com.buyfrequency}}</td>
                  <td>{{ com.accumulatorid}}</td> -->
                  <td>{{ com.description}}</td>
                  <td>{{ com.prix }}</td>
                <!--  <td>{{ com.taxe}}</td> -->
                  <td>{{ com.validite}}</td>
                <!--  <td>{{ com.isBuyableByOM}}</td>
                  <td>{{ com.refillom}}</td>
                  <td>{{ com.isBuyableWithLanyCredit}}</td>
                  <td>{{ com.refilllanycredit}}</td> -->
                  <td>{{ com.groups }}</td>
                <!--  <td>{{ com.grouprank}}</td> -->
                  <!-- <td>{{ com.groups1}}</td> -->
                <!--  <td>{{ com.groupsrank1}}</td> -->
                  <!-- <td>{{ com.groups2}}</td> -->
                  <!-- <td>{{ com.groupsrank2}}</td>
                  <td>{{ com.groups3 }}</td>
                  <td>{{ com.groupsrank3}}</td>
                  <td>{{ com.groups4}}</td>
                  <td>{{ com.groupsrank4}}</td>
                  <td>{{ com.groups5}}</td>
                  <td>{{ com.groupsrank5}}</td>
                  <td>{{ com.generalrank}}</td>
                  <td>{{ com.commentaire}}</td>  -->
                  
                  <td style="cursor: pointer;">
                    <a  onclick="document.getElementById('id01').style.display='block'" data-toggle="modal"><i id="logo" style="color: #ff7900;font-size: 28px;" (click)="edit(com)" class="fa fa-edit" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                   <!-- <a><i style="color: #ff7900;font-size: 28px;margin-left: 8px; " (click)="delete(com)" class="fa fa-trash" data-toggle="tooltip"></i></a>-->
                  
                  </td>
                  
                </tr>
              </thead>
              </table>


            </div>


          </div>

      </div>
    </div>


</div>






    <!--modale-->  
    <div class="w3-container">
    
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:1600px">

          <div class="w3-center">
            <span (click)="closeModale()" class="w3-button w3-xlarge w3-hover-white w3-display-topright" title="Close Modal">&times;</span>
            
          </div>

          

      
          <div class="w3-container "  style="padding-left: 26px;">
            <h2 style="text-align: left; color: #ff7900;">Offre</h2>
          </div> 
          
          <form #f ="ngForm" name="form" (ngSubmit)="onSubmit(f)" autocomplete="off" style="padding: 0 25px 15px;" >
          
            <table>
              <tr>
                <td>          
            
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Idbundle</span>
                    </div>
                    <input [(ngModel)]="bundle.idbundle" name="idbundle" type="text" class="form-control" placeholder="idbundle" disabled>
                  </div>
                 
                  <!-- Marketing -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Nom</span>
                    </div>
                    <textarea [(ngModel)]="bundle.nom" name="nom"  type="text" class="form-control" placeholder="nom" disabled></textarea>
                  </div>

      
      
                  <!-- Technique -->
                  <div class="isCheckbox">
                    <div class="checkGroup">
                      <input *ngIf="lstIsObject['isroaming']==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isroaming" value="isroaming">
                      <input *ngIf="lstIsObject['isroaming']==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isroaming" value="isroaming" checked>
                      <label for="isroaming">isRoaming</label>
                    </div> 
                  </div>
                  <div class="isCheckbox">
                    <div class="checkGroup">
                      <input *ngIf="lstIsObject['isActive']==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isActive" value="isActive">
                      <input *ngIf="lstIsObject['isActive']==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isActive" value="isActive" checked>
                      <label for="isActive">isActive</label>
                    </div> 
                  </div>
      
                  <div class="input-group mb-3" style="margin-bottom: 2rem !important;">
                    <div class="input-group-prepend">
                      <span >Refill</span>
                    </div>
                    <input [(ngModel)]="bundle.refill" name="refill" maxlength="8" type="text"  class="w3-input  w3-border-black" placeholder="refill">
                  </div>
      
                  
                  <!-- Technique -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span >Refillinjection</span>
                    </div>
                    <input [(ngModel)]="bundle.refillinjection" name="refillinjection" maxlength="8" type="text"  class="w3-input  w3-border-black" placeholder="refillinjection">
                  </div>
      
                  <!-- Marketing + Technique-->
                  <div class="isCheckbox">
                    <div class="checkGroup">
                      <input *ngIf="lstIsObject['isBuyableForOther']==0" type="checkbox"  id="isBuyableForOther" value="isBuyableForOther" disabled>
                      <input *ngIf="lstIsObject['isBuyableForOther']==1" type="checkbox"  id="isBuyableForOther" value="isBuyableForOther" checked disabled>
                      <label for="isBuyableForOther">isBuyableForOther</label>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span >Refillfwd</span>
                    </div>
                    <input [(ngModel)]="bundle.refillfwd" id="refillfwd" name="refillfwd" maxlength="8" type="text"  class="w3-input  w3-border-black" placeholder="refillfwd">
                  </div>
      
                  <!-- Technique -->
                  <div style="column-count: 3;">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span >Refillapi</span>
                      </div>
                      <input [(ngModel)]="bundle.refillapi" name="refillapi"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refillapi">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span >Refilllms</span>
                      </div>
                      <input [(ngModel)]="bundle.refilllms" name="refilllms"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refilllms">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span >Refillmypos</span>
                      </div>
                      <input [(ngModel)]="bundle.refillmypos" name="refillmypos"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refillmypos">
                    </div>
                  </div>
                  <div style="column-count: 2;">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span >Chargingindicator</span>
                      </div>
                      <input [(ngModel)]="bundle.chargingindicator" name="chargingindicator" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="chargingindicator">
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span >Chargingindicatorom</span>
                      </div>
                      <input [(ngModel)]="bundle.chargingindicatorom" name="chargingindicatorom" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"  class="w3-input  w3-border-black" placeholder="chargingindicatorom">
                    </div>
                  </div>
      
                  <!-- Marketing + Technique-->
                  <div class="isCheckbox">
                    <div class="checkGroup">
                      <input *ngIf="lstIsObject['isautorenewable']==0" type="checkbox"  id="isautorenewable" value="isautorenewable" disabled>
                      <input *ngIf="lstIsObject['isautorenewable']==1" type="checkbox"  id="isautorenewable" value="isautorenewable" checked disabled>
                      <label for="isautorenewable">isAutorenewable</label>
                    </div>
                  </div>
                  <div id="Pam" style="column-count: 3;">
                    <div class="input-group ">
                      <div class="input-group-prepend">
                        <span >Pamclass</span>
                      </div>
                      <input [(ngModel)]="bundle.pamclass" name="pamclass" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"  class="w3-input  w3-border-black" placeholder="pamclass">
                    </div>
                    <div class="input-group ">
                      <div class="input-group-prepend">
                        <span >Pamservice</span>
                      </div>
                      <input [(ngModel)]="bundle.pamservice" name="pamservice" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"  class="w3-input  w3-border-black" placeholder="pamservice">
                    </div>
                    <div class="input-group ">
                      <div class="input-group-prepend">
                        <span >Pamscheduled</span>
                      </div>
                      <input [(ngModel)]="bundle.pamscheduled" name="pamscheduled" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"  class="w3-input  w3-border-black" placeholder="pamscheduled">
                    </div>
                  </div>
      
                  <!-- Marketing -->
                  <div class="isCheckbox">
                    <div class="checkGroup">
                      <input *ngIf="lstIsObject['isbuylimited']==0" type="checkbox"  id="isbuylimited" value="isbuylimited" disabled>
                      <input *ngIf="lstIsObject['isbuylimited']==1" type="checkbox"  id="isbuylimited" value="isbuylimited" checked disabled>
                      <label for="isbuylimited">isBuylimited</label>
                    </div>
                  </div>
                  <div class="colmn2">
      
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Buyfrequency</span>
                        </div>
                        <input [(ngModel)]="bundle.buyfrequency" name="buyfrequency"  type="text"  class="form-control" disabled>
                      </div>
                    
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Buymaximum</span>
                        </div>
                        <input [(ngModel)]="bundle.buymaximum" name="buymaximum"  type="text"  class="form-control" disabled>
                      </div>
      
                  </div>
      
                  
                  <!-- Technique -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span >Accumulatorid</span>
                    </div>
                    <input [(ngModel)]="bundle.accumulatorid" name="accumulatorid" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" min="0"  class="w3-input  w3-border-black" placeholder="accumulatorid">
                  </div>
                </td>
                <td class="top"> 
                  <!-- Marketing -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Description</span>
                    </div> 
                    <textarea [(ngModel)]="bundle.description" name="description"  type="text"  class="form-control" disabled></textarea>
                  </div>
      
                  <div class="colmn">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Prix</span>
                          </div>
                          <input [(ngModel)]="bundle.prix" name="prix"  type="text"  class="form-control" disabled>
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Taxe</span>
                          </div>
                          <input [(ngModel)]="bundle.taxe" name="taxe"  type="text"  class="form-control" disabled>
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Validite</span>
                          </div>
                          <input [(ngModel)]="bundle.validite" name="validite"  type="text"  class="form-control" disabled>
                        </div>
                        
                  </div> 
              
                  <!-- Marketing + Technique-->
                  <div class="isCheckbox">
                    <div class="checkGroup">
                      <input *ngIf="lstIsObject['isBuyableByOM']==0" type="checkbox"  id="isBuyableByOM" value="isBuyableByOM" disabled>
                      <input *ngIf="lstIsObject['isBuyableByOM']==1" type="checkbox"  id="isBuyableByOM" value="isBuyableByOM" checked disabled>
                      <label for="isBuyableByOM">isBuyableByOM</label>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span >Refillom</span>
                    </div>
                    <input [(ngModel)]="bundle.refillom" id="refillom" name="refillom"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refillom">
                  </div>
      
                  <!-- Marketing + Technique-->
                  <div class="isCheckbox">
                    <div class="checkGroup">
                      <input *ngIf="lstIsObject['isBuyableWithLanyCredit']==0" type="checkbox"  id="isBuyableWithLanyCredit" value="isBuyableWithLanyCredit" disabled>
                      <input *ngIf="lstIsObject['isBuyableWithLanyCredit']==1" type="checkbox"  id="isBuyableWithLanyCredit" value="isBuyableWithLanyCredit" checked disabled>
                      <label for="isBuyableWithLanyCredit">isBuyableWithLanyCredit</label>
                    </div>
                  </div>
                  <div class="input-group mb-3" style="margin-bottom: 1.5rem !important;">
                    <div class="input-group-prepend">
                      <span >Refilllanycredit</span>
                    </div>
                    <input [(ngModel)]="bundle.refilllanycredit" id="refilllanycredit" name="refilllanycredit"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refilllanycredit">
                  </div>
      
                  <!-- Marketing -->
                  <div style="display: flex;">
                    <div  style="width: 160px;margin-bottom: 5px;">
                        <div >
                          <span class="input-group-text"  >Grouprank</span>
                        </div>
                        <input  [(ngModel)]="bundle.grouprank" name="grouprank"  type="text"  class="form-control" disabled>
                      </div>
                          <div class="input-group mb-3" style=" padding-left: 5%;">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Groups</span>
                            </div>
                            <textarea [(ngModel)]="bundle.groups" name="groups"  type="text"  class="form-control" disabled ></textarea>
                          </div>
                  </div>        
            
                  <div style="display: flex;">
                        <div  style="width: 150px; margin-bottom: 5px;">
                          <div >
                            <span class="input-group-text">Groupsrank1</span>
                          </div>
                          <input [(ngModel)]="bundle.groupsrank1" name="groupsrank1"  type="text"  class="form-control" disabled>
                        </div>
          
                        <div class="input-group mb-3" style=" padding-left: 5%;">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Groups1</span>
                          </div>
                          <textarea [(ngModel)]="bundle.groups1" name="groups1"  type="text"  class="form-control" disabled></textarea>
                        </div>
                  </div>
          
                  <div style="display: flex;"> 
                        <div style="width: 150px;margin-bottom: 5px;">
                          <div >
                            <span class="input-group-text">Groupsrank2</span>
                          </div>
                          <input [(ngModel)]="bundle.groupsrank2" name="groupsrank2"  type="text"  class="form-control" disabled>
                        </div>
          
                        <div class="input-group mb-3"  style=" padding-left: 5%;">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Groups2</span>
                          </div>
                          <textarea [(ngModel)]="bundle.groups2" name="groups2"  type="text" class="form-control" disabled></textarea>
                        </div>
                  </div>
          
                  <div style="display: flex;">   
                      <div style="width: 150px; margin-bottom: 5px;">
                        <div  >
                          <span class="input-group-text">Groupsrank3</span>
                        </div>
                        <input [(ngModel)]="bundle.groupsrank3" name="groupsrank3"  type="text"  class="form-control" disabled>
                      </div>
                    <div class="input-group mb-3"  style=" padding-left: 5%;">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Groups3</span>
                        </div>
                        <textarea [(ngModel)]="bundle.groups3" name="groups3"  type="text" class="form-control" disabled></textarea>
                      </div>
                  </div>
                    
                  <div style="display: flex;">   
                      <div style="width: 150px;margin-bottom: 5px;">
                        <div >
                          <span class="input-group-text">Groupsrank4</span>
                        </div>
                        <input [(ngModel)]="bundle.groupsrank4" name="groupsrank4"  type="text"  class="form-control" disabled>
                      </div>
                      <div class="input-group mb-3" style=" padding-left: 5%;">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Groups4</span>
                        </div>
                        <textarea [(ngModel)]="bundle.groups4" name="groups4"  type="text"  class="form-control" disabled></textarea>
                      </div>
                  </div>
                    
                  <div style="display: flex;">   
                    <div style="width: 150px;margin-bottom: 5px;">
                        <div>
                          <span class="input-group-text">Groupsrank5</span>
                        </div>
                        <input [(ngModel)]="bundle.groupsrank5" name="groupsrank5"  type="text"  class="form-control" disabled>
                      </div>
                      <div class="input-group mb-3"  style=" padding-left: 5%;">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Groups5</span>
                        </div>
                        <textarea [(ngModel)]="bundle.groups5" name="groups5"  type="text"  class="form-control" disabled></textarea>
                      </div>
                  </div>
                
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Generalrank</span>
                    </div>
                    <input [(ngModel)]="bundle.generalrank" name="generalrank"  type="text"  class="form-control" disabled>
                  </div>
      
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Commentaire</span>
                    </div> 
                    <textarea [(ngModel)]="bundle.commentaire" name="commentaire"  type="text" class="form-control" disabled></textarea>
                  </div>
                </td>
              </tr>
            </table>

            
            <div class="action-area " style="padding: 5px;">
              <button   style="margin-right: 2%;" class="w3-hover-white">Mettre à jour <i class="fa fa-edit" style="font-size:14.5px"></i></button>
              <a   style="background-color:black; cursor: pointer; " (click)="closeModale()" class="annuler w3-hover-white"> Annuler</a>
             </div>

          </form>

          
          

        </div>
      </div>
    </div>








