
<app-nav-technique *ngIf="roleuser=='US'"></app-nav-technique>
<app-nav-technique *ngIf="roleuser=='R'"></app-nav-technique>
<app-nav-admin *ngIf="roleuser=='SA'"></app-nav-admin>



<div class="position">


  <app-entete></app-entete>
      
  
    <div class="crud">
      <div>
        <div class="table-responsive" style="font-size: 13px">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-6">
                  <h2>Profile</h2>
                </div>
                <div class="col-sm-6 ">
                  <a  onclick="document.getElementById('id01').style.display='block'"  (click)="add()" class="w3-button w3-black w3-hover-white" data-toggle="modal" style="float: right;margin: 2%;"><i class="fa fa-plus-circle"></i> <span> Créer</span></a>			
                </div>
              </div>
            </div>
            <table class="table table-striped table-hover "  id="myTable" style="background-color:white ;">
              <thead>
              <tr>
                
                <th>Idprofile</th>
                <th>Title</th>
                <th>Parent</th>
                <th>Communityid</th>
                <th>Groupeid</th>
                <th>Serviceclass</th>
              <!--  <th>Lcg</th>
                <th>Lcgref</th>
                <th>Lcn</th>
                <th>Lcnref</th>
                <th>Lcint</th>
                <th>Lcintref</th>
                <th>Lcr</th>
                <th>Lcrref</th>
                <th>Ucg</th>
                <th>Ucn</th>
                <th>Ucint</th>
                <th>Ucr</th> -->
                <th>Actions</th>

              </tr>
              <tr *ngFor="let com of lstProfile">
              
              <td>{{ com.idprofile }}</td>
              <td>{{ com.title}}</td>
              <td>{{ com.parent}}</td>
              <td>{{ com.communityid }}</td>
              <td>{{ com.groupeid}}</td>
              <td>{{ com.serviceclass }}</td>
              <!--  <td>{{ com.lcg}}</td>
              <td>{{ com.lcgref }}</td>
              <td>{{ com.lcn}}</td>
              <td>{{ com.lcnref }}</td>
              <td>{{ com.lcint}}</td>
              <td>{{ com.lcintref }}</td>
              <td>{{ com.lcr}}</td>  
              <td>{{ com.lcrref }}</td>
              <td>{{ com.ucg }}</td>
              <td>{{ com.ucn }}</td>
              <td>{{ com.ucint}}</td>
              <td>{{ com.ucr}}</td> -->
          <td style="cursor: pointer;">
                  <a  onclick="document.getElementById('id01').style.display='block'" class="edit" data-toggle="modal"><i style="color: #ff7900;font-size: 28px;" (click)="edit(com)" class="fa fa-edit" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                  <a><i style="color: #ff7900;font-size: 28px;margin-left: 8px; " (click)="delete(com)" class="fa fa-trash" data-toggle="tooltip"></i></a>
                
                </td>
                
              </tr>
            </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

</div>







<!--modale-->  
<div class="w3-container">
 
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:1600px">

      <div class="w3-center">
        <span (click)="closeModale()" class="w3-button w3-xlarge w3-hover-white w3-display-topright" title="Close Modal">&times;</span>
        
      </div>

   
      <div class="w3-container "  style="padding-left: 26px;">
        <h2 style="text-align: left; color: #ff7900;">{{isEdit ? 'Modification':'Création'}}</h2>
      </div>  
      <form  #f ="ngForm" name="form" (ngSubmit)="onSubmit(f)" autocomplete="off" style="padding: 0 25px 15px;"   >
        <table>
          <tr>
            <td class="top">
              <p *ngIf="isEdit==false"><label>Idprofile</label><input [(ngModel)]="profile.idprofile" name="idprofile" class="w3-input  w3-border-black " type="text"></p>
              <p *ngIf="isEdit==true"><label>Idprofile</label><input [(ngModel)]="profile.idprofile" name="idprofile" class="w3-input   w3-border-black" type="text" disabled></p>
              <p><label>Title</label><input [(ngModel)]="profile.title" name="title" class="w3-input  w3-border-black " placeholder="title" type="text"></p>
              <div class="form-group">
                <label for="parent">Parent</label>
                <select id="parent" class="w3-input  w3-border-black" [(ngModel)]="profile.parent" name="parent" style="height: 40px;">
                  <option *ngFor="let profile of lstIdprofile" value={{profile}}>{{profile}}</option>
                </select>
              </div>
              <p><label>Communityid</label><input [(ngModel)]="profile.communityid" maxlength="64" name="communityid"  class="w3-input  w3-border-black " placeholder=".communityid" type="text"></p>
              <p><label>Groupeid</label><input [(ngModel)]="profile.groupeid" maxlength="64" name="groupeid" class="w3-input  w3-border-black " placeholder="groupeid" type="text"></p>
            </td>
            <td class="top">
              <p><label>Serviceclass</label><input [(ngModel)]="profile.serviceclass" maxlength="64" name="serviceclass" class="w3-input  w3-border-black " placeholder="serviceclass" type="text"></p>
              <div class="colmn">
              <p><label>lcg</label><input [(ngModel)]="profile.lcg" name="lcg"  class="w3-input  w3-border-black "  placeholder="lcg" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
              <p><label>lcgref</label><input [(ngModel)]="profile.lcgref" name="lcgref" class="w3-input  w3-border-black " placeholder="lcgref" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
              <p><label>lcn</label><input [(ngModel)]="profile.lcn" name="lcn" class="w3-input  w3-border-black " placeholder="lcn" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
              <p><label>lcnref</label><input [(ngModel)]="profile.lcnref" name="lcnref" class="w3-input  w3-border-black" placeholder="lcnref" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
              <p><label>lcint</label><input [(ngModel)]="profile.lcint" name="lcint" class="w3-input  w3-border-black " placeholder="lcint" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
              <p><label>lcintref</label><input [(ngModel)]="profile.lcintref" name="lcintref"  class="w3-input  w3-border-black" placeholder="lcintref" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
              <p><label>lcr</label><input [(ngModel)]="profile.lcr" name="lcr" class="w3-input  w3-border-black " placeholder="lcr" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
              <p><label>lcrref</label><input [(ngModel)]="profile.lcrref" name="lcrref" class="w3-input  w3-border-black " placeholder="lcrref" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
              <p><label>ucg</label><input [(ngModel)]="profile.ucg" name="ucg"  class="w3-input  w3-border-black " placeholder="ucg" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
              <p><label>ucn</label><input [(ngModel)]="profile.ucn" name="ucn" class="w3-input  w3-border-black" placeholder="ucn" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
              <p><label>ucint</label><input [(ngModel)]="profile.ucint" name="ucint" class="w3-input  w3-border-black " placeholder=".ucint" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
              <p><label>ucr</label><input [(ngModel)]="profile.ucr" name="ucr" class="w3-input  w3-border-black " placeholder="ucr" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
              </div>
            </td>
          </tr>
        </table>
      
          <div class="action-area " style="padding: 5px;">
            <button   style="margin-right: 2%;" class="w3-hover-white">{{isEdit ? 'Mettre à jour ':'Créer '}}<i class="{{isEdit?'fa fa-edit':'fa fa-plus-circle'}}" style="font-size:14.5px"></i></button>
            <a   style="background-color:black; cursor: pointer; " (click)="closeModale()" class="annuler w3-hover-white"> Annuler</a>
           </div>

      </form>


    </div>
  </div>

</div>
