.position{

  /* position: relative; */
  margin-left: 201px;
  background-color:  #f8f8f8;
  /* width: 1300px; */
  
}

div.w3-border{
  height: 70px;
}

form input.w3-border{
  height: auto;
}

.w3-border img{
  height: 70px;
}

.crud{
  margin-left:20px;
  margin-top:20px;
  margin-right:20px;
  width:auto; 
}

.position img{
   padding: 5px;
}

form{
   background-color: white;
}
a{
  text-decoration: none;
}

.table-title {
 
  background: #ff7900;
  color: #fff;
  padding: 2px 30px;
 /*  min-width: 100%; */
  /* margin: -20px -25px 10px; */
  border-radius: 3px 3px 0 0;
}

.colmn3{
  column-count: 3;    
}
.colmn2{
  column-count: 2;
}

.top{
  vertical-align: top;
  padding-left: 15px;
  width: 50%;
}

/* *:focus{
box-shadow: none;
border-color: #ff7900;
outline: none;

} */


/* inputGroup */

.inputGroup label {
padding: 12px 18px;
width: 100%;
display: block;
text-align: left;
color: #3C454C;
cursor: pointer;
position: relative;
z-index: 2;
transition: color 200ms ease-in;
overflow: hidden;
}

.inputGroup label:after {
width: 32px;
height: 32px;
content: "";
border: 2px solid #D1D7DC;
background-color: #fff;
background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
background-repeat: no-repeat;
background-position: 2px 3px;
border-radius: 50%;
z-index: 2;
position: absolute;
right: 18px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
color: #fff;
background-color: #ff7900;
}

.inputGroup input:checked ~ label:after {
background-color: black;
border-color: black;
}

.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.idprofile {
margin: 30px auto;
font-size: 13px;
font-weight: 600;
line-height: 36px;
padding: 0 16px;
max-width: 550px;

}

    /* new */

    
.inputGroup {

border: 1px solid #ced4da;
height: 62px;
border-radius: 5px;


}
    button,a.annuler {
      position: relative;
      background: #ff7900;
      border: none;
      box-sizing: border-box;
      box-shadow: 0 0 4px rgb(0 0 0 / 30%);
      padding: 9px 5px 9px;
      padding: .5625rem .9375rem .5625rem;
      color: white;
      font-size: 14px;
      font-size: .875rem;
      line-height: 1;
      text-decoration: none;
      overflow: hidden;
      -webkit-transition: background-color ease 0.2s;
      -moz-transition: background-color ease 0.2s;
      -o-transition: background-color ease 0.2s;
      transition: background-color ease 0.2s;
      outline: #ff7900;
     
  }
  
  
  
   .action-area {
      margin-top: 20px;
      margin-top: 1.25rem;
      text-align: center;
  }
  
  
