<div class="w3-border w3-white ">
    <div class="row">
      <div class="col-sm-6"><img src="../assets/img/orange/logo1.JPG"alt=""></div>
      <div class="col-sm-6">  
          <input class="w3-input1" type="text" id="myInput" onkeyup="myFunction()" placeholder="Recherche.." title="Type in a category">
          <a class=" w3-input2"> <i class="	fa fa-search" ></i></a>
      </div>
    </div>
  </div>  