
<app-nav-technique *ngIf="roleuser=='US'"></app-nav-technique>
<app-nav-technique *ngIf="roleuser=='R'"></app-nav-technique>
<app-nav-admin *ngIf="roleuser=='SA'"></app-nav-admin>


<div class="position">


  <app-entete></app-entete>
        
        
        

    <div class="crud">     
      <div> 
        <div class="table-responsive" style="font-size: 13px">
          <div class="table-wrapper">
            <div  class="table-title">
              <div class="row">
                <div class="col-sm-6">
                  <h2>Publicda</h2>
                </div>
                <div class="col-sm-6 ">
                  <a  onclick="document.getElementById('id01').style.display='block'" (click)="add()" class="w3-button w3-black w3-hover-white" data-toggle="modal" style="float: right;margin: 2%;"><i class="fa fa-plus-circle"></i> <span> Créer</span></a>			
                </div>
              </div>
            </div>


            <table class="table table-striped table-hover "  id="myTable" style="background-color:white ;">
              <thead>
              <tr>
                <th>Idprofile</th>
                <th>DA</th>
                <th>Nom</th>
              <!--  <th>Isroaming</th>
                <th>Istoexcludefrominfoconso</th>
                <th>Ismixed</th> -->
                <th>IsActive</th>
              <!--  <th>Tarifsmsnat</th>
                <th>Tarifappelnat</th>
                <th>Tarifdata</th>
                <th>Tarifappelfamille</th>
                <th>Tarifappelorange</th>
                <th>Tarifappelinternationa</th>
                <th>Tarifsmsfamille</th>
                <th>Tarifsmsorange</th>
                <th>Tarifsmsinternational</th>
                <th>Groups1</th> -->
                <th>Groupsrank1</th>
                <th>Groups2</th>
                <th>Groupsrank2</th>
                <th>Groups3</th>
                <th>Groupsrank3</th>
                <th>Actions</th>
              </tr>
              <tr *ngFor="let com of lstPublicda">
                <td>{{ com.idprofile }}</td>
                <td>{{ com.DA}}</td>
                <td>{{ com.nom }}</td>
              <!--  <td>{{ com.isroaming}}</td>
                <td>{{ com.istoexcludefrominfoconso }}</td>
                <td>{{ com.ismixed}}</td> -->
                <!-- <td>{{ com.isActive }}</td> -->
                <td>
                  <span *ngIf="com.isActive==0"><i class="fa fa-close" style="color: red;"></i></span>
                  <span *ngIf="com.isActive==1"><i class="fa fa fa-check" style="color:  #ff7900;"></i></span>
                </td>
              <!--  <td>{{ com.tarifsmsnat}}</td>
                <td>{{ com.tarifappelnat }}</td>
                <td>{{ com.tarifdata}}</td>
                <td>{{ com.tarifappelfamille}}</td>
                <td>{{ com.tarifappelorange}}</td>
                <td>{{ com.tarifappelinternational}}</td>
                <td>{{ com.tarifsmsfamille}}</td>
                <td>{{ com.tarifsmsorange}}</td>
                <td>{{ com.tarifsmsinternational}}</td>
                <td>{{ com.groups1}}</td> -->
                <td>{{ com.groupsrank1}}</td>
                <td>{{ com.groups2}}</td>
                <td>{{ com.groupsrank2}}</td>
                <td>{{ com.groups3 }}</td>
                <td>{{ com.groupsrank3}}</td>
                
                <td style="cursor: pointer;">
                  <a onclick="document.getElementById('id01').style.display='block'" class="edit" data-toggle="modal"><i style="color: #ff7900;font-size: 28px;" (click)="edit(com)" class="fa fa-edit" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                <!-- <a><i style="color: #ff7900;font-size: 28px;margin-left: 8px; " (click)="delete(com)" class="fa fa-trash" data-toggle="tooltip"></i></a>-->
                
                </td>
                
              </tr>
            </thead>
            </table>
          </div>
        </div>
      </div>
    </div>


</div>


    <!--modale-->  
    <div class="w3-container">
    
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:1700px">
      
            <div class="w3-center">
              <span (click)="closeModale()" class="w3-button w3-xlarge w3-hover-white w3-display-topright" title="Close Modal">&times;</span>
              
            </div>
      
        
            <div class="w3-container" style="padding-left: 26px;">
              <h2 style="text-align: left; color: #ff7900;">{{isEdit ? 'Modification':'Création'}}</h2>
            </div>

            <form  #f ="ngForm" name="form" (ngSubmit)="onSubmit(f)" autocomplete="off"  style="padding: 0 25px 15px;"   ><br>
                <table>
                  <tr>
                    <td class="top">    
                        <div class="form-group">
                          <label for="DA">DA</label>
                          <select *ngIf="isEdit==false" id="DA" class="w3-input   w3-border-black" [(ngModel)]="publicda.DA" name="DA" style="height: 40px;">
                            <option *ngFor="let com of lstOfferelementaire" value={{com.DA}}>{{com.DA + " - " + com.nature}}</option>
                          </select>
                          <select *ngIf="isEdit==true" id="DA" class="w3-input   w3-border-black" [(ngModel)]="publicda.DA" name="DA" style="height: 40px;" disabled>
                            <option *ngFor="let com of lstOfferelementaire" value={{com.DA}}>{{com.DA + " - " + com.nature}}</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="idprofile">Idprofile</label>
                          <select *ngIf="isEdit==false" id="idprofile" class="w3-input   w3-border-black" [(ngModel)]="publicda.idprofile" name="idprofile" style="height: 40px;">
                            <option *ngFor="let profile of lstprofile" value={{profile}}>{{profile}}</option>
                          </select>
                          <input *ngIf="isEdit==true" [(ngModel)]="publicda.idprofile" name="idprofile" class="w3-input   w3-border-black" type="text" disabled>
                        </div>
                        <p><label>Nom</label><input [(ngModel)]="publicda.nom" name="nom"  class="w3-input   w3-border-black" placeholder="nom" type="text"></p>
                        <div class="colmn2 idprofile">
                            <div class="inputGroup">
                              <input *ngIf="lstIsObject['isActive']==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isActive" value="isActive">
                              <input *ngIf="lstIsObject['isActive']==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isActive" value="isActive" checked>
                              <label for="isActive">isActive</label>
                            </div> 
                            <div class="inputGroup">
                              <input *ngIf="lstIsObject['isroaming']==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isroaming" value="isroaming">
                              <input *ngIf="lstIsObject['isroaming']==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isroaming" value="isroaming" checked>
                              <label for="isroaming">isRoaming</label>
                            </div>
                        </div>
                        <div style="display: flex;">
                          <div  style="width: 150px;">
                            <div>
                              <span >Groupsrank1</span>
                            </div>
                            <input [(ngModel)]="publicda.groupsrank1" name="groupsrank1"  type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black " placeholder="groupsrank1">
                          </div>
            
                          <div class="input-group mb-3" style=" padding-left: 15px;">
                            <div class="input-group-prepend">
                              <span >Groups1</span>
                            </div>
                            <select id="groups1" class="w3-input  w3-border-black" [(ngModel)]="publicda.groups1" name="groups1" style="height: 40px;" (change)="changeSelectedGroups1($event)" >
                              <option *ngFor="let groups1 of lstGroups1" value={{groups1}}>{{groups1}}</option>
                              <option value="autre">Autre...</option>
                            </select>
                            <textarea id="textareaGroups1" class="w3-input  w3-border-black " style="display:none;" placeholder="Veuillez saisir le nouveau 'groups1'" ></textarea>
                          </div>
                        </div>
                        
                        <div style="display: flex;"> 
                              <div style="width: 150px;">
                                <div>
                                  <span >Groupsrank2</span>
                                </div>
                                <input [(ngModel)]="publicda.groupsrank2" name="groupsrank2"  type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black " placeholder="groupsrank2">
                              </div>
                
                              <div class="input-group mb-3"  style=" padding-left: 15px;">
                                <div class="input-group-prepend">
                                  <span >Groups2</span>
                                </div>
                                <select id="groups2" class="w3-input  w3-border-black" [(ngModel)]="publicda.groups2" name="groups2" style="height: 40px;" (change)="changeSelectedGroups2($event)" >
                                  <option *ngFor="let groups2 of lstGroups2" value={{groups2}}>{{groups2}}</option>
                                  <option value="autre">Autre...</option>
                                </select>
                                <textarea id="textareaGroups2" class="w3-input  w3-border-black " style="display:none;" placeholder="Veuillez saisir le nouveau 'groups2'" ></textarea>
                              </div>
                        </div>
                
                        <div style="display: flex;">   
                            <div style="width: 150px;">
                              <div>
                                <span >Groupsrank3</span>
                              </div>
                              <input [(ngModel)]="publicda.groupsrank3" name="groupsrank3"  type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black " placeholder="groupsrank2">
                            </div>
                          <div class="input-group mb-3"  style=" padding-left: 15px;">
                              <div class="input-group-prepend">
                                <span >Groups3</span>
                              </div>
                              <select id="groups3" class="w3-input  w3-border-black" [(ngModel)]="publicda.groups3" name="groups3" style="height: 40px;" (change)="changeSelectedGroups3($event)">
                                <option *ngFor="let groups3 of lstGroups3" value={{groups3}}>{{groups3}}</option>
                                <option value="autre">Autre...</option>
                              </select>
                              <textarea id="textareaGroups3" class="w3-input  w3-border-black " style="display:none;" placeholder="Veuillez saisir le nouveau 'groups3'" ></textarea>
                            </div>
                        </div>

                    </td>  
                    <td class="top">
                      <div class="idprofile">
                        <div class="inputGroup">
                          <input *ngIf="lstIsObject['ismixed']==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="ismixed" value="ismixed">
                          <input *ngIf="lstIsObject['ismixed']==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="ismixed" value="ismixed" checked>
                          <label for="ismixed">isMixed</label>
                        </div>
                      </div>
                      <div class="Alltarifs">
                        <p> <label>Tarifsmsnat</label><input [(ngModel)]="publicda.tarifsmsnat" name="tarifsmsnat"  class="w3-input   w3-border-black" placeholder="tarifsmsnat" type="number"></p>
                        <p> <label>Tarifsmsfamille</label><input [(ngModel)]="publicda.tarifsmsfamille" name="tarifsmsfamille"  class="w3-input   w3-border-black" placeholder="tarifsmsfamille" type="number"></p>
                        <p> <label>Tarifsmsorange</label><input [(ngModel)]="publicda. tarifsmsorange" name=" tarifsmsorange"  class="w3-input   w3-border-black" placeholder=" tarifsmsorange" type="number"></p>
                        <p> <label>Tarifsmsinternational</label><input [(ngModel)]="publicda.tarifsmsinternational" name="tarifsmsinternational"  class="w3-input   w3-border-black" placeholder="tarifsmsinternational" type="number"></p> 
                        <p> <label>Tarifdata</label><input [(ngModel)]="publicda.tarifdata" name="tarifdata"  class="w3-input   w3-border-black" placeholder="tarifdata" type="number"></p>       
                        <p> <label>Tarifappelnat</label><input [(ngModel)]="publicda.tarifappelnat" name="tarifappelnat"  class="w3-input   w3-border-black" placeholder="tarifappelnat" type="number"></p>
                        <p> <label>Tarifappelfamille</label><input [(ngModel)]="publicda.tarifappelfamille" name="tarifappelfamille"  class="w3-input   w3-border-black" placeholder="tarifappelfamille" type="number"></p>
                        <p> <label>Tarifappelorange</label><input [(ngModel)]="publicda.tarifappelorange" name="tarifappelorange"  class="w3-input   w3-border-black " placeholder="tarifappelorange" type="number"></p>
                        <p> <label>Tarifappelinternational</label><input [(ngModel)]="publicda.tarifappelinternational" name="tarifappelinternational"  class="w3-input   w3-border-black " placeholder="tarifappelinternational" type="number"></p>     
                      </div>
                    
                    
                    </td>
                  </tr>
                </table>
                <div class="action-area " style="padding: 5px;">
                  <button   style="margin-right: 2%;" class="w3-hover-white">{{isEdit ? 'Mettre à jour ':'Créer '}}<i class="{{isEdit?'fa fa-edit':'fa fa-plus-circle'}}" style="font-size:14.5px"></i></button>
                  <a   style="background-color:black; cursor: pointer; " (click)="closeModale()" class="annuler w3-hover-white"> Annuler</a>
                </div>

            </form>
      
            
            
      
          </div>
        </div>
    </div>


