
<app-nav-technique *ngIf="roleuser=='R'"></app-nav-technique>
<app-nav-admin *ngIf="roleuser=='SA'"></app-nav-admin>


<div class="position">


  <app-entete></app-entete>
       
      
    <div class="crud">
      <div>
          <div class="table-responsive" style="font-size: 13px;" >
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-sm-6">
                    <h2 *ngIf="roleuser=='R'">Responsable <b>DTI</b></h2>
                    <h2 *ngIf="roleuser=='SA'">Superadmin <b>Level</b></h2>
                  </div>
                
                </div>
              </div>



              <table class="table table-striped table-hover "  id="myTable" style="background-color:white ;">
                <thead>
                <tr>
                  
                  <th>Idbundle</th>
                <!-- <th>Isroaming</th>
                  <th>isActive</th>-->
                  <th>Refill</th>
                  <th>Nom</th>
                  <th>IsActive</th>
                <!--  <th>Refillinjection</th>
                  <th>isBuyableForOther</th>
                  <th>Refillfwd</th>
                  <th>Refillapi</th>
                  <th>Refilllms</th>
                  <th>Refillmypos</th>
                  <th>Chargingindicator</th>
                  <th>Chargingindicatorom</th>
                  <th>Isautorenewable</th>
                  <th>Pamclass</th>
                  <th>pamservice</th>
                  <th>Pamscheduledl</th>
                  <th>Isbuylimited</th>
                  <th>Buymaximum</th>
                  <th>Buyfrequency</th>
                  <th>Accumulatorid</th> -->
                  <th>Description</th>
                  <th>Prix</th>
                  <!-- <th>Taxe</th> -->
                  <th>Validite</th>
                <!--  <th>isBuyableByOM</th>
                  <th>Refillom</th>
                  <th>isBuyableWithLanyCredit</th>
                  <th>Refilllanycredit</th> -->
                  <th>Groups</th>
                <!--  <th>Grouprank</th> -->
                <!--  <th>Groups1</th> -->
                  <!-- <th>Groupsrank1</th> -->
                <!--  <th>Groups2</th> -->
                <!--  <th>Groupsrank2</th>
                  <th>Groups3</th>
                  <th>Groupsrank3</th>
                  <th>Groups4</th>
                  <th>Groupsrank4</th>
                  <th>Groups5</th>
                  <th>Groupsrank5</th>
                  <th>Generalrank</th>
                  <th>Commentaire</th>-->
                  <th>Actions</th> 
                </tr>
                <tr *ngFor="let com of lstBundleConfig">
                  <td>{{ com.idbundle }}</td>
                  <!-- <td>{{ com.isroaming}}</td> 
                  <td>{{ com.isActive}}</td>-->
                  <td>{{ com.refill}}</td>
                  <td>{{ com.nom }}</td>
                  <td>
                    <span *ngIf="com.isActive==0"><i class="fa fa-close" style="color: red;"></i></span>
                    <span *ngIf="com.isActive==1"><i class="fa fa fa-check" style="color:  #ff7900;"></i></span>
                  </td>
                <!--  <td>{{ com.refillinjection}}</td>
                  <td>{{ com.isBuyableForOther }}</td>
                  <td>{{ com.refillfwd}}</td>
                  <td>{{ com.refillapi }}</td>
                  <td>{{ com.refilllms}}</td>
                  <td>{{ com.refillmypos}}</td>
                  <td>{{ com.chargingindicator}}</td>
                  <td>{{ com.chargingindicatorom}}</td>
                  <td>{{ com.isautorenewable}}</td>
                  <td>{{ com.pamclass}}</td>
                  <td>{{ com.pamservice}}</td>
                  <td>{{ com.pamscheduled }}</td>
                  <td>{{ com.isbuylimited}}</td>
                  <td>{{ com.buymaximum }}</td>
                  <td>{{ com.buyfrequency}}</td>
                  <td>{{ com.accumulatorid}}</td> -->
                  <td>{{ com.description}}</td>
                  <td>{{ com.prix }}</td>
                <!--  <td>{{ com.taxe}}</td> -->
                  <td>{{ com.validite}}</td>
                <!--  <td>{{ com.isBuyableByOM}}</td>
                  <td>{{ com.refillom}}</td>
                  <td>{{ com.isBuyableWithLanyCredit}}</td>
                  <td>{{ com.refilllanycredit}}</td> -->
                  <td>{{ com.groups }}</td>
                <!--  <td>{{ com.grouprank}}</td> -->
                  <!-- <td>{{ com.groups1}}</td> -->
                <!--  <td>{{ com.groupsrank1}}</td> -->
                  <!-- <td>{{ com.groups2}}</td> -->
                  <!-- <td>{{ com.groupsrank2}}</td>
                  <td>{{ com.groups3 }}</td>
                  <td>{{ com.groupsrank3}}</td>
                  <td>{{ com.groups4}}</td>
                  <td>{{ com.groupsrank4}}</td>
                  <td>{{ com.groups5}}</td>
                  <td>{{ com.groupsrank5}}</td>
                  <td>{{ com.generalrank}}</td>
                  <td>{{ com.commentaire}}</td>  -->
                  
                  <td style="cursor: pointer;">
                    <a  onclick="document.getElementById('id01').style.display='block'" data-toggle="modal"><i id="logo" style="color: #ff7900;font-size: 28px;" (click)="edit(com)" class="fa fa-edit" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                   <!-- <a><i style="color: #ff7900;font-size: 28px;margin-left: 8px; " (click)="delete(com)" class="fa fa-trash" data-toggle="tooltip"></i></a>-->
                  
                  </td>
                  
                </tr>
              </thead>
              </table>


            </div>


          </div>

      </div>
    </div>


</div>






    <!--modale-->  
    <div class="w3-container">
    
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:2000px">

          <div class="w3-center">
            <span (click)="closeModale()" class="w3-button w3-xlarge w3-hover-white w3-display-topright" title="Close Modal">&times;</span>
            
          </div>

      
          <div class="w3-container "  style="padding-left: 26px;">
            <h2 style="text-align: left; color: #ff7900;">Offre</h2>
          </div> 
          
          <form #f ="ngForm" name="form" (ngSubmit)="onSubmit(f)" autocomplete="off" style="padding: 0 25px 15px;">
          
<table>
  <tr>
    <td>
   
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Idbundle</span>
        </div>
        <input [(ngModel)]="bundle.idbundle" name="idbundle" type="text" class="form-control" placeholder="idbundle" disabled>
      </div>
     
       <!-- Marketing -->
       <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span>Nom</span>
        </div>
        <textarea [(ngModel)]="bundle.nom" name="nom"  type="text" class="w3-input  w3-border-black" placeholder="nom"></textarea>
      </div>

  
   

      <!-- Technique -->
      <div class="isCheckbox">
        <div class="checkGroup">
          <input *ngIf="lstIsObject['isroaming']==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isroaming" value="isroaming">
          <input *ngIf="lstIsObject['isroaming']==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isroaming" value="isroaming" checked>
          <label for="isroaming">isRoaming</label>
        </div> 
      </div>
      <div class="isCheckbox">
        <div class="checkGroup">
          <input *ngIf="lstIsObject['isActive']==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isActive" value="isActive">
          <input *ngIf="lstIsObject['isActive']==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isActive" value="isActive" checked>
          <label for="isActive">isActive</label>
        </div> 
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span >Refill</span>
        </div>
        <input [(ngModel)]="bundle.refill" name="refill"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refill">
      </div>

     
       <!-- Technique -->
       <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span >Refillinjection</span>
        </div>
        <input [(ngModel)]="bundle.refillinjection" name="refillinjection"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refillinjection">
      </div>

      <!-- Marketing + Technique-->
      <div class="isCheckbox">
        <div class="checkGroup">
          <input *ngIf="lstIsObject['isBuyableForOther']==0" type="checkbox"  id="isBuyableForOther" (change)="changeValueCheckboxIs($event)" value="isBuyableForOther" >
          <input *ngIf="lstIsObject['isBuyableForOther']==1" type="checkbox"  id="isBuyableForOther" (change)="changeValueCheckboxIs($event)" value="isBuyableForOther" checked >
          <label for="isBuyableForOther">isBuyableForOther</label>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span >Refillfwd</span>
        </div>
        <input [(ngModel)]="bundle.refillfwd" id="refillfwd" name="refillfwd"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refillfwd">
      </div>
      
  <div style="column-count: 3;">
      <!-- Technique -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span >Refillapi</span>
          </div>
          <input [(ngModel)]="bundle.refillapi" name="refillapi"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refillapi">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span >Refilllms</span>
          </div>
          <input [(ngModel)]="bundle.refilllms" name="refilllms"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refilllms">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span >Refillmypos</span>
          </div>
          <input [(ngModel)]="bundle.refillmypos" name="refillmypos"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refillmypos">
        </div>
  </div>
  <div style="column-count: 2;">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span >Chargingindicator</span>
          </div>
          <input [(ngModel)]="bundle.chargingindicator" name="chargingindicator" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="chargingindicator">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span >Chargingindicatorom</span>
          </div>
          <input [(ngModel)]="bundle.chargingindicatorom" name="chargingindicatorom" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="chargingindicatorom">
        </div>
    </div>

      <!-- Marketing + Technique-->
      <div class="isCheckbox">
        <div class="checkGroup">
          <input *ngIf="lstIsObject['isautorenewable']==0" type="checkbox"  id="isautorenewable" (change)="changeValueCheckboxIs($event)" value="isautorenewable" >
          <input *ngIf="lstIsObject['isautorenewable']==1" type="checkbox"  id="isautorenewable" (change)="changeValueCheckboxIs($event)" value="isautorenewable" checked >
          <label for="isautorenewable">isAutorenewable</label>
        </div>
      </div>
     <div id="Pam" style="column-count: 3;">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span  >Pamclass</span>
          </div>
          <input [(ngModel)]="bundle.pamclass" name="pamclass" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="pamclass">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span  >Pamservice</span>
          </div>
          <input [(ngModel)]="bundle.pamservice" name="pamservice" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="pamservice">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span >Pamscheduled</span>
          </div>
          <input [(ngModel)]="bundle.pamscheduled" name="pamscheduled" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="pamscheduled">
        </div>
     </div>

      <!-- Marketing -->
      <div class="isCheckbox">
        <div class="checkGroup">
          <input *ngIf="lstIsObject['isbuylimited']==0" type="checkbox"  id="isbuylimited" (change)="changeValueCheckboxIs($event)" value="isbuylimited" >
          <input *ngIf="lstIsObject['isbuylimited']==1" type="checkbox"  id="isbuylimited" (change)="changeValueCheckboxIs($event)" value="isbuylimited" checked >
          <label for="isbuylimited">isBuylimited</label>
        </div>
      </div>

    <div class="colmn2">
      <div class="buyLimitedChecked">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span  >Buyfrequency</span>
            </div>
            <input [(ngModel)]="bundle.buyfrequency" name="buyfrequency"  type="text" class="w3-input  w3-border-black" >
          </div>
        
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span >Buymaximum</span>
            </div>
            <input [(ngModel)]="bundle.buymaximum" name="buymaximum"  type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black">
          </div>

      </div>

    </div> 

      <!-- Technique -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span >Accumulatorid</span>
        </div>
        <input [(ngModel)]="bundle.accumulatorid" name="accumulatorid" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" min="0" class="w3-input  w3-border-black" placeholder="accumulatorid">
      </div>

      <!-- Marketing -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span >Description</span>
        </div> 
        <textarea [(ngModel)]="bundle.description" name="description"  type="text" class="w3-input  w3-border-black" ></textarea>
      </div>

      <div class="colmn">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span >Prix</span>
              </div>
              <input [(ngModel)]="bundle.prix" name="prix"  type="number" class="w3-input  w3-border-black" >
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span >Taxe</span>
              </div>
              <input [(ngModel)]="bundle.taxe" name="taxe"  type="text" class="w3-input  w3-border-black" >
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span >Validite</span>
              </div>
              <input [(ngModel)]="bundle.validite" name="validite"  type="text" class="w3-input  w3-border-black" >
            </div>
        </div>    
     
  
      <!-- Marketing + Technique-->
      <div class="isCheckbox">
        <div class="checkGroup">
          <input *ngIf="lstIsObject['isBuyableByOM']==0" type="checkbox"  id="isBuyableByOM" (change)="changeValueCheckboxIs($event)" value="isBuyableByOM" >
          <input *ngIf="lstIsObject['isBuyableByOM']==1" type="checkbox"  id="isBuyableByOM" (change)="changeValueCheckboxIs($event)" value="isBuyableByOM" checked >
          <label for="isBuyableByOM">isBuyableByOM</label>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span >Refillom</span>
        </div>
        <input [(ngModel)]="bundle.refillom" id="refillom" name="refillom"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refillom">
      </div>



      <!-- Marketing + Technique-->
      <div class="isCheckbox">
        <div class="checkGroup">
          <input *ngIf="lstIsObject['isBuyableWithLanyCredit']==0" type="checkbox"  id="isBuyableWithLanyCredit" (change)="changeValueCheckboxIs($event)" value="isBuyableWithLanyCredit" >
          <input *ngIf="lstIsObject['isBuyableWithLanyCredit']==1" type="checkbox"  id="isBuyableWithLanyCredit" (change)="changeValueCheckboxIs($event)" value="isBuyableWithLanyCredit" checked >
          <label for="isBuyableWithLanyCredit">isBuyableWithLanyCredit</label>
        </div>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span >Refilllanycredit</span>
        </div>
        <input [(ngModel)]="bundle.refilllanycredit" id="refilllanycredit" name="refilllanycredit"  type="text" maxlength="8" class="w3-input  w3-border-black" placeholder="refilllanycredit">
      </div>

    </td>
    <td class="top">

            

        <!-- Marketing -->
        <div style="display: flex;">
          <div style="width: 150px">
            <div>
              <span>Grouprank</span>
            </div>
            <input  [(ngModel)]="bundle.grouprank" name="grouprank"  type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="grouprank">
          </div>

          <div class="input-group mb-3" style=" padding-left: 15px;">
            <div class="input-group-prepend">
              <span >Groups</span>
            </div>
            <select id="groups" class="w3-input  w3-border-black" [(ngModel)]="bundle.groups" name="groups" style="height: 40px;" (change)="changeSelectedGroups($event)" >
              <option *ngFor="let groups of lstGroups" value={{groups}}>{{groups}}</option>
              <option value="autre">Autre...</option>
            </select>
            <textarea id="textareaGroups" class="w3-input  w3-border-black" style="display:none;" placeholder="Veuillez saisir le nouveau 'groups'" ></textarea>
          </div>
        </div>        

        <div style="display: flex;">
              <div  style="width: 150px;">
                <div>
                  <span >Groupsrank1</span>
                </div>
                <input [(ngModel)]="bundle.groupsrank1" name="groupsrank1"  type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="groupsrank1">
              </div>

              <div class="input-group mb-3" style=" padding-left: 15px;">
                <div class="input-group-prepend">
                  <span >Groups1</span>
                </div>
                <select id="groups1" class="w3-input  w3-border-black" [(ngModel)]="bundle.groups1" name="groups1" style="height: 40px;" (change)="changeSelectedGroups1($event)" >
                  <option *ngFor="let groups1 of lstGroups1" value={{groups1}}>{{groups1}}</option>
                  <option value="autre">Autre...</option>
                </select>
                <textarea id="textareaGroups1" class="w3-input  w3-border-black" style="display:none;" placeholder="Veuillez saisir le nouveau 'groups1'" ></textarea>
              </div>
        </div>

        <div style="display: flex;"> 
              <div style="width: 150px;">
                <div>
                  <span >Groupsrank2</span>
                </div>
                <input [(ngModel)]="bundle.groupsrank2" name="groupsrank2"  type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="groupsrank2">
              </div>

              <div class="input-group mb-3"  style=" padding-left: 15px;">
                <div class="input-group-prepend">
                  <span >Groups2</span>
                </div>
                <select id="groups2" class="w3-input  w3-border-black" [(ngModel)]="bundle.groups2" name="groups2" style="height: 40px;" (change)="changeSelectedGroups2($event)" >
                  <option *ngFor="let groups2 of lstGroups2" value={{groups2}}>{{groups2}}</option>
                  <option value="autre">Autre...</option>
                </select>
                <textarea id="textareaGroups2" class="w3-input  w3-border-black" style="display:none;" placeholder="Veuillez saisir le nouveau 'groups2'" ></textarea>
              </div>
        </div>

        <div style="display: flex;">   
            <div style="width: 150px;">
              <div>
                <span >Groupsrank3</span>
              </div>
              <input [(ngModel)]="bundle.groupsrank3" name="groupsrank3"  type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="groupsrank2">
            </div>
          <div class="input-group mb-3"  style=" padding-left: 15px;">
              <div class="input-group-prepend">
                <span >Groups3</span>
              </div>
              <select id="groups3" class="w3-input  w3-border-black" [(ngModel)]="bundle.groups3" name="groups3" style="height: 40px;" (change)="changeSelectedGroups3($event)">
                <option *ngFor="let groups3 of lstGroups3" value={{groups3}}>{{groups3}}</option>
                <option value="autre">Autre...</option>
              </select>
              <textarea id="textareaGroups3" class="w3-input  w3-border-black" style="display:none;" placeholder="Veuillez saisir le nouveau 'groups3'" ></textarea>
            </div>
        </div>
            
        <div style="display: flex;">   
            <div style="width: 150px;">
              <div>
                <span >Groupsrank4</span>
              </div>
              <input [(ngModel)]="bundle.groupsrank4" name="groupsrank4"  type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="groupsrank4">
            </div>
            <div class="input-group mb-3" style=" padding-left: 15px;">
              <div class="input-group-prepend">
                <span >Groups4</span>
              </div>
              <select id="groups4" class="w3-input  w3-border-black" [(ngModel)]="bundle.groups4" name="groups4" style="height: 40px;" (change)="changeSelectedGroups4($event)" >
                <option *ngFor="let groups4 of lstGroups4" value={{groups4}}>{{groups4}}</option>
                <option value="autre">Autre...</option>
              </select>
              <textarea id="textareaGroups4" class="w3-input  w3-border-black" style="display:none;" placeholder="Veuillez saisir le nouveau 'groups4'" ></textarea> 
            </div>
        </div>
            
        <div style="display: flex;">   
          <div style="width: 150px;">
              <div>
                <span >Groupsrank5</span>
              </div>
              <input [(ngModel)]="bundle.groupsrank5" name="groupsrank5"  type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="groupsrank5">
            </div>
            <div class="input-group mb-3"  style=" padding-left: 15px;">
              <div class="input-group-prepend">
                <span >Groups5</span>
              </div>
              <select id="groups5" class="w3-input  w3-border-black" [(ngModel)]="bundle.groups5" name="groups5" style="height: 40px;" (change)="changeSelectedGroups5($event)" >
                <option *ngFor="let groups5 of lstGroups5" value={{groups5}}>{{groups5}}</option>
                <option value="autre">Autre...</option>
              </select>
              <textarea id="textareaGroups5" class="w3-input  w3-border-black" style="display:none;" placeholder="Veuillez saisir le nouveau 'groups5'" ></textarea> 
            </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span >Generalrank</span>
          </div>
          <input [(ngModel)]="bundle.generalrank" name="generalrank"  type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;" class="w3-input  w3-border-black" placeholder="generalrank">
        </div>


        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span >Commentaire</span>
          </div> 
          <textarea [(ngModel)]="bundle.commentaire" name="commentaire"  type="text" class="w3-input  w3-border-black" ></textarea>
        </div>


        <!-- Profilebundle -->
        <p>Veuillez cocher les profiles associés à cette nouvelle offre : </p>

        <div  class="idprofile" > 
          <div class="inputGroup" *ngFor="let profile of lstprofile">
            <input *ngIf="mylstprofileObject[profile]==false" type="checkbox" (change)="changeValueCheckbox($event)" id={{profile}} value={{profile}}>
            <input *ngIf="mylstprofileObject[profile]==true" type="checkbox" (change)="changeValueCheckbox($event)" id={{profile}} value={{profile}} checked>
            <label for={{profile}}>{{ profile }}</label>
          </div>
        </div>
       

   

       
    </td>
  </tr>
</table>

 <div class="action-area " style="padding: 5px;">
  <button   style="margin-right: 2%;" class="w3-hover-white">Mettre à jour <i class="fa fa-edit" style="font-size:14.5px"></i></button>
  <a   style="background-color:black; cursor: pointer; " (click)="closeModale()" class="annuler w3-hover-white"> Annuler</a>
 </div>

         


          </form>

          
          

        </div>
      </div>
    </div>
















