<nav class="w3-sidebar  w3-hide-small" style="overflow: hidden;width:200px;">

  <section class="app">
    <aside class="sidebar">
           <header class="" style="font-size: 22px; color: #ff7900; padding-left: 28px;">
          Menu <i class="fa fa-home"></i>
        </header>
      <nav class="sidebar-nav">

        <ul  >
          <li>
            <a routerLink="/Admin-login" routerLinkActive="activebutton" class="w3-hover-orange"><i class="fa fa-user" style="margin-left: 6px;margin-right: 1px;"></i><span>Groupe d'utilisateur</span></a>
          </li>
          <li > <a  routerLink="/Technique-offres-responsable" routerLinkActive="activebutton" class="w3-hover-orange" ><i class="	fa fa-shopping-cart" style="margin-left: 1.5px;margin-right:1.5px;"></i><span>Offres</span>
                </a>
          </li>
          <li>   
            <a routerLink="/Marketing-create" routerLinkActive="activebutton" class="w3-hover-orange" ><i class="fa fa-cart-plus" style="margin-left: 1.5px;margin-right:1.5px;"></i>Création d'offre</a>
          </li>
          <li> 
            <a routerLink="/Technique-unit" routerLinkActive="activebutton" class="w3-hover-orange" ><i class="fa fa-cogs"></i><span class="">Configuration</span></a>
            <ul class="nav-flyout" style="font-size: 16px;">
              <li>
                <a  class="w3-hover-orange" routerLink="/Technique-unit" routerLinkActive="activebutton">Unit</a>
              </li>
              <li>
                <a   class="w3-hover-orange" routerLink="/Technique-profile" routerLinkActive="activebutton" >Profile</a>
              </li>
              <li>
                <a  class="w3-hover-orange" routerLink="/Technique-monthly"  routerLinkActive="activebutton" >Monthly</a>
              </li>
              <li>
                <a  class="w3-hover-orange" routerLink="/Technique-publicda"  routerLinkActive="activebutton" >Publicda</a>
              </li>
              <li>
                <a   class="w3-hover-orange" routerLink="/Technique-offerelementaire"  routerLinkActive="activebutton" >Offerelementaire</a>
              </li>
              <li>
                <a   class="w3-hover-orange" routerLink="/Technique-bundleofferelementaire"  routerLinkActive="activebutton" >Bundleofferelementaire</a>
              </li>
            </ul>
          <li>
            <a routerLink="/Admin-otherservice" routerLinkActive="activebutton" class="w3-hover-orange" ><i class="	fa fa-wrench" style="margin-left: 2.5px;margin-right:2.5px;"></i>Services</a>
          </li>
          <li>
            <a href="#" class="w3-hover-orange" ><i class="	fa fa-info-circle" style="margin-left: 2.5px;margin-right:2.5px;"></i><span class="">Information</span></a>
          </li>
          <li>
            <a routerLink="/"  routerLinkActive="activebutton"  class="w3-hover-orange"><i class="fa fa-sign-out"></i><span>Se déconnecter</span></a>
          </li>
        </ul>
      </nav>
    </aside>
  </section>
  </nav>
