
<app-nav-technique *ngIf="roleuser=='US'"></app-nav-technique>
<app-nav-technique *ngIf="roleuser=='R'"></app-nav-technique>
<app-nav-admin *ngIf="roleuser=='SA'"></app-nav-admin>


<div class="position">


  <app-entete></app-entete>
        
        
        

    <div class="crud">     
      <div> 
        <div class="table-responsive" style="font-size: 13px">
          <div class="table-wrapper">
            <div  class="table-title">
              <div class="row">
                <div class="col-sm-6">
                  <h2>Offerelementaire</h2>
                </div>
                <div class="col-sm-6 ">
                  <a  onclick="document.getElementById('id01').style.display='block'" (click)="add()" class="w3-button w3-black w3-hover-white" data-toggle="modal" style="float: right;margin: 2%;"><i class="fa fa-plus-circle"></i> <span> Créer</span></a>			
                </div>
              </div>
            </div>


            <table class="table table-striped table-hover "  id="myTable" style="background-color:white ;">
              <thead>
                <tr>
                  <th>DA</th>
                  <th>Type infoConso</th>
                  <th>Nature</th>
                  <th>Type offer</th>
                  <th>Unit</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor="let com of lstOfferelementaire">
                  <td>{{ com.DA }}</td>
                  <td>{{ com.typeInfoConso}}</td>
                  <td>{{ com.nature }}</td>
                  <td>{{ com.typeOffer}}</td>
                  <td>{{ com.unit}}</td>
            
                  <td style="cursor: pointer;">
                    <a onclick="document.getElementById('id01').style.display='block'" class="edit" data-toggle="modal"><i style="color: #ff7900;font-size: 28px;" (click)="edit(com)" class="fa fa-edit" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                    <a><i style="color: #ff7900;font-size: 28px;margin-left: 8px; " (click)="delete(com)" class="fa fa-trash" data-toggle="tooltip"></i></a>
                  </td>
                  
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>


</div>





    <!--modale-->  
    <div class="w3-container">
    
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      
            <div class="w3-center">
              <span (click)="closeModale()" class="w3-button w3-xlarge w3-hover-white w3-display-topright" title="Close Modal">&times;</span>
              
            </div>
      
        
            <div class="w3-container"  style="padding-left: 26px;">
              <h2 style="text-align: left; color: #ff7900;">{{isEdit ? 'Modification':'Création'}}</h2>
            </div>

            <form  #f ="ngForm" name="form" (ngSubmit)="onSubmit(f)" autocomplete="off" style="padding: 0 25px 15px;"  ><br>
              <table>
                <tr>
                  <td class="top">
                    <p *ngIf="isEdit==false"><label>DA</label><input [(ngModel)]="offerelementaire.DA" name="DA"  class="w3-input w3-border-black" placeholder="DA" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
                    <p *ngIf="isEdit==true"><label>DA</label><input [(ngModel)]="offerelementaire.DA" name="DA" class="w3-input w3-border-black" type="text" disabled></p>
                    <p><label for="">Type infoConso</label><input [(ngModel)]="offerelementaire.typeInfoConso" name="typeInfoConso" placeholder="type infoConso" class="w3-input w3-border-black " type="text" maxlength="32"></p>
                  
                    <div class="form-group">
                      <label for="nature">Nature</label>
                      <select id="nature" class="w3-input w3-border-black" [(ngModel)]="offerelementaire.nature" name="nature" style="height: 40px;" (change)="changeSelectedNature($event)" >
                        <option *ngFor="let nature of lstnature" value={{nature}}>{{nature}}</option>
                        <option value="autre">Autre...</option>
                      </select>
                      <input id="inputNature" type="text" class="w3-input w3-border-black" style="display:none;" placeholder="Veuillez saisir la nouvelle nature"/>
                    </div>
                  </td>
                  <td class="top">
                    <div class="form-group">
                      <label for="typeOffer">Type offer</label>
                      <select id="typeOffer" class="w3-input w3-border-black" [(ngModel)]="offerelementaire.typeOffer" name="typeOffer" style="height: 40px;">
                        <option value="BONUS">BONUS</option>
                        <option value="FORFAIT">FORFAIT</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="unit">Unit</label>
                      <select id="unit" class="w3-input w3-border-black" [(ngModel)]="offerelementaire.unit" name="unit" style="height: 40px;">
                        <option *ngFor="let com of lstUnit" value={{com.unit}}>{{com.unit + " - " + com.description}}</option>
                      </select>
                    </div>
                  </td>
                </tr>
              </table> 
             
                <div class="action-area " style="padding: 5px;">
                  <button style="margin-right: 2%;" class="w3-hover-white">{{isEdit ? 'Mettre à jour ':'Créer '}}<i class="{{isEdit?'fa fa-edit':'fa fa-plus-circle'}}" style="font-size:14.5px"></i></button>
                  <a style="background-color:black; cursor: pointer; " (click)="closeModale()" class="annuler w3-hover-white"> Annuler</a>
                </div>

            </form>
 
      
          </div>
        </div>
    </div>


