
<app-nav-technique *ngIf="roleuser=='US'"></app-nav-technique>
<app-nav-technique *ngIf="roleuser=='R'"></app-nav-technique>
<app-nav-admin *ngIf="roleuser=='SA'"></app-nav-admin>


<div class="position">


  <app-entete></app-entete>
        
        
        

    <div class="crud">     
      <div> 
        <div class="table-responsive" style="font-size: 13px">
          <div class="table-wrapper">
            <div  class="table-title">
              <div class="row">
                <div class="col-sm-6">
                  <h2>Unit</h2>
                </div>
                <div class="col-sm-6 ">
                  <a  onclick="document.getElementById('id01').style.display='block'" (click)="add()" class="w3-button w3-black w3-hover-white" data-toggle="modal" style="float: right;margin: 2%;"><i class="fa fa-plus-circle"></i> <span> Créer</span></a>			
                </div>
              </div>
            </div>


            <table class="table table-striped table-hover "  id="myTable" style="background-color:white ;">
              <thead>
                <tr>
                  <th>Unité</th>
                  <th>Description</th>
                  <th>Systemratio</th>
                  <th>Actions</th>
                </tr>
                <tr *ngFor="let com of lstUnit">
                  <td>{{ com.unit }}</td>
                  <td>{{ com.description }}</td>
                  <td>{{ com.systemratio}}</td>
                
                  <td style="cursor: pointer;">
                    <a onclick="document.getElementById('id01').style.display='block'" class="edit" data-toggle="modal"><i style="color: #ff7900;font-size: 28px;" (click)="edit(com)" class="fa fa-edit" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                    <a><i style="color: #ff7900;font-size: 28px;margin-left: 8px; " (click)="delete(com)" class="fa fa-trash" data-toggle="tooltip"></i></a>
                  </td>
                  
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>


</div>





    <!--modale-->  
    <div class="w3-container">
    
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      
            <div class="w3-center">
              <span (click)="closeModale()" class="w3-button w3-xlarge w3-hover-white w3-display-topright" title="Close Modal">&times;</span>
              
            </div>
      
        
            <div class="w3-container" style="padding-left: 26px;">
              <h2 style="text-align: left; color: #ff7900;">{{isEdit ? 'Modification':'Création'}}</h2>
            </div>

            <form  #f ="ngForm" name="form" (ngSubmit)="onSubmit(f)" autocomplete="off" style="padding: 0 25px 15px;"   ><br>
              
              <p *ngIf="isEdit==false"><label for="">Unité</label><input  [(ngModel)]="unit.unit" onKeypress="if(this.value.length==11) return false;" name="unit" class="w3-input w3-border-black" type="number" min="0" (keypress)="onlyInteger($event)"></p>
              <p *ngIf="isEdit==true"><label for="">Unité</label><input  [(ngModel)]="unit.unit" name="unit" class="w3-input w3-border-black" type="text" disabled></p>
              <p> <label for="">Description</label><input [(ngModel)]="unit.description" maxlength="32" name="description"  class="w3-input  w3-border-black" placeholder="description" type="text"></p>
              <p><label for="">Systemratio</label><input [(ngModel)]="unit.systemratio" name="systemratio"   class="w3-input w3-border-black " placeholder="systemratio" type="number"></p>

              <div class="action-area " style="padding: 5px;">
                <button   style="margin-right: 2%;" class="w3-hover-white">{{isEdit ? 'Mettre à jour ':'Créer '}}<i class="{{isEdit?'fa fa-edit':'fa fa-plus-circle'}}" style="font-size:14.5px"></i></button>
                <a   style="background-color:black; cursor: pointer; " (click)="closeModale()" class="annuler w3-hover-white"> Annuler</a>
               </div>

            </form>
           
            
      
          </div>
        </div>
    </div>