.position{

    /* position: relative; */
    margin-left: 201px;
    background-color:  #f8f8f8;
    /* width: 1300px; */
    
}

div.w3-border{
    height: 70px;
}

form input.w3-border{
    height: auto;
}

.w3-border img{
    height: 70px;
}

.crud{
    margin-left:20px;
    margin-top:20px;
    margin-right:20px;
    width:auto; 
}

 .position img{
     padding: 5px;
 }

 form{
     background-color: white;
 }
 a{
    text-decoration: none;
}

.table-title {
   
    background: #ff7900;
    color: #fff;
    padding: 2px 30px;
   /*  min-width: 100%; */
    /* margin: -20px -25px 10px; */
    border-radius: 3px 3px 0 0;
}

.colmn{
    column-count: 3;    
}
.colmn2{
    column-count: 2;
}


       /* new */
button,a.annuler {
    position: relative;
    background: #ff7900;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgb(0 0 0 / 30%);
    padding: 9px 5px 9px;
    padding: .5625rem .9375rem .5625rem;
    color: white;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: background-color ease 0.2s;
    -moz-transition: background-color ease 0.2s;
    -o-transition: background-color ease 0.2s;
    transition: background-color ease 0.2s;
    outline: #ff7900;
   
}



 .action-area {
    margin-top: 20px;
    margin-top: 1.25rem;
    text-align: center;
}

