<div class="container-fluid">
 
  <div class="registration-form">
      <form  #f ="ngForm" name="form" (ngSubmit)="onSignIn(f)" autocomplete="off">
          <div >
            <img src="../assets/img/orange/logo1.JPG"  alt="">
              
          </div>
          <div class="form-group">
              <input type="text" maxlength="3" [(ngModel)]="login.trigramme" class="w3-input w3-border-black" placeholder="Trigramme"  name="trigramme" (keypress)="onlyAlpha($event)"  autofocus required>
          </div>
          <div class="form-group">
              <input type="password" class="w3-input w3-border-black" placeholder="Mot de passe" [(ngModel)]="mdpuser" name="mdpuser" id="mdpuser">
          </div>
          <input type="checkbox"(change)="afficheMdpuser($event)"><span style="font-size: 13px; color:gray"> Afficher le mot de passe</span>     
          <div class="form-group">
              <button class="btn btn-block create-account">Se connecter</button>
          </div>
      </form>
      
      <div class="social-media">
        
          <h5> <a routerLink="/Log-create" routerLinkActive="activebutton"  style="text-decoration: none;">Créer un nouveau compte</a></h5>
          <div class="social-icons">
           
              <a href="#"><i class="icon-social-facebook" title="Facebook"></i></a>
              <a href="#"><i class="icon-social-google" title="Google"></i></a>
              <a href="#"><i class="icon-social-twitter" title="Twitter"></i></a>
          </div>
      </div>
  </div>
</div>
    
    
 
    