
<app-nav-technique *ngIf="roleuser=='US'"></app-nav-technique>
<app-nav-technique *ngIf="roleuser=='R'"></app-nav-technique>
<app-nav-admin *ngIf="roleuser=='SA'"></app-nav-admin>



<div class="position">


  <app-entete></app-entete>
      
      
    <div class="crud">
      <div>
        <div class="table-responsive"  style="font-size: 13px;">
          <div class="table-wrapper">
            <div  class="table-title">
              <div class="row">
                <div class="col-sm-6">
                  <h2>Bundle offer elementaire</h2>
                </div>
              </div>
            </div>
            <table class="table table-striped table-hover "  id="myTable" style="background-color:white ;">
              <thead>
              <tr>
                <th>Idbundle</th>
                <th style="max-width: 250px;">Nom</th>
                <th>DA</th>
                <th>Nature</th>
                <th>Quantity</th>
                <th>OfferId</th>
                <!-- <th>Istoexcludefrominfoconso</th> -->
                <th>Ismixed</th>
              <!--  <th>Tarifsmsnat</th>
                <th>Tarifappelnat</th>
                <th>Tarifdata</th>
                <th>Tarifdatafb</th>
                <th>Tarifappelfamille</th>
                <th>Tarifappelorange</th>
                <th>Tarifappelinternational</th>
                <th>Tarifsmsfamille</th>
                <th>Tarifsmsorange</th>
                <th>Tarifsmsinternational</th> -->
                <th>Actions</th>
              </tr>
              <tr *ngFor="let com of lstBundleOfferelementaire">
                <td>{{ com.idbundle }}</td>
                <td style="max-width: 250px;">{{ lstNom[""+com.idbundle] }}</td>
                <td>{{ com.DA}}</td>
                <td>{{ lstNature[""+com.DA] }}</td>
                <td>{{ com.quantity}}</td>
                <td>{{ com.offerId}}</td>
                <!-- <td>{{ com.istoexcludefrominfoconso}}</td> -->
                <td>{{ com.ismixed}}</td>
              <!--   <td>{{ com.tarifsmsnat }}</td>
                <td>{{ com.tarifappelnat }}</td>
                <td>{{ com.tarifdata}}</td>
                <td>{{ com.tarifdatafb}}</td>
                <td>{{ com.tarifappelfamille}}</td>
                <td>{{ com.tarifappelorange}}</td>
                <td>{{ com.tarifappelinternational}}</td>
                <td>{{ com.tarifsmsfamille}}</td>
                <td>{{ com.tarifsmsorange}}</td>
                <td>{{ com.tarifsmsinternational}}</td> -->
              
                
                <td style="cursor: pointer;">
                  <a  onclick="document.getElementById('id01').style.display='block'" class="edit" data-toggle="modal"><i style="color: #ff7900;font-size: 28px;" (click)="edit(com)" class="fa fa-edit" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                <a><i style="color: #ff7900;font-size: 28px;margin-left: 8px; " (click)="delete(com)" class="fa fa-trash" data-toggle="tooltip"></i></a>
                
                </td>
                
              </tr>
            </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

</div>









<!--modale-->  
<div class="w3-container">
 
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:1600px">
  
        <div class="w3-center">
          <span (click)="closeModale()" class="w3-button w3-xlarge w3-hover-white w3-display-topright" title="Close Modal">&times;</span>  
        </div>
     
        <div class="w3-container "  style="padding-left: 26px;">
          <h2 style="text-align: left; color: #ff7900;">Modification</h2>
        </div>

        <form  #f ="ngForm" name="form" (ngSubmit)="onSubmit(f)" autocomplete="off" style="padding: 0 25px 15px;"   >
          <table>
            <tr>
              <td class="top"> 
                <div class="form-group">
                  <label for="idbundle">Idbundle</label>
                  <select id="idbundle" class="w3-input w3-border-black" [(ngModel)]="bundleofferelementaire.idbundle" name="idbundle" style="height: 40px;" disabled>
                    <option *ngFor="let com of lstBundleConfig" value={{com.idbundle}}>{{com.idbundle + " - " + com.nom}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="DA">DA</label>
                  <select id="DA" class="w3-input w3-border-black " [(ngModel)]="bundleofferelementaire.DA" name="DA" style="height: 40px;">
                    <option *ngFor="let com of lstOfferelementaire" value={{com.DA}}>{{com.DA + " - " + com.nature}}</option>
                  </select>
                </div>
              
                <p *ngIf="roleuser!='US'"> <label>Quantity</label><input [(ngModel)]="bundleofferelementaire.quantity" name="quantity" class="w3-input w3-border-black  " placeholder="quantity" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==20) return false;"></p>
                <p *ngIf="roleuser=='US'"> <label>Quantity</label><input [(ngModel)]="bundleofferelementaire.quantity" name="quantity" class="w3-input w3-border-black  " placeholder="quantity" type="text" disabled></p>
                <p> <label>OfferId</label><input [(ngModel)]="bundleofferelementaire.offerId" name="offerId"  class="w3-input w3-border-black " placeholder="offerId" type="number" min="0" (keypress)="onlyInteger($event)" onKeypress="if(this.value.length==11) return false;"></p>
                <p><input [(ngModel)]="bundleofferelementaire.istoexcludefrominfoconso" name="istoexcludefrominfoconso"  class="w3-input w3-border-black  " type="hidden"></p>
                <div class="idprofile">
                  <div class="inputGroup">
                    <input *ngIf="lstIsObject['ismixed']==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="ismixed" value="ismixed">
                    <input *ngIf="lstIsObject['ismixed']==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="ismixed" value="ismixed" checked>
                    <label for="ismixed">isMixed</label>
                  </div> 
                </div>
              </td>
              <td class="top"> 
                <div class="Alltarifs">
                  <p> <label>Tarifsmsnat</label><input [(ngModel)]="bundleofferelementaire.tarifsmsnat" name="tarifsmsnat"  class="w3-input w3-border-black " placeholder="tarifsmsnat" type="number"></p>
                  <p> <label>Tarifsmsfamille</label><input [(ngModel)]="bundleofferelementaire.tarifsmsfamille" name="tarifsmsfamille"  class="w3-input w3-border-black  " placeholder="tarifsmsfamille" type="number"></p>
                  <p> <label>Tarifsmsorange</label><input [(ngModel)]="bundleofferelementaire.tarifsmsorange" name="tarifsmsorange"  class="w3-input w3-border-black " placeholder="tarifsmsorange" type="number"></p>
                  <p> <label>Tarifsmsinternational</label><input [(ngModel)]="bundleofferelementaire.tarifsmsinternational" name="tarifsmsinternational"  class="w3-input w3-border-black " placeholder="tarifsmsinternational" type="number"></p>
                  <p> <label>Tarifdata</label><input [(ngModel)]="bundleofferelementaire.tarifdata" name="tarifdata"  class="w3-input w3-border-black  " placeholder="tarifdata" type="number"></p>
                  <p> <label>Tarifappelnat</label><input [(ngModel)]="bundleofferelementaire.tarifappelnat" name="tarifappelnat"  class="w3-input w3-border-black " placeholder="tarifappelnat" type="number"></p>
                  <p> <label>Tarifappelfamille</label><input [(ngModel)]="bundleofferelementaire.tarifappelfamille" name="tarifappelfamille"  class="w3-input w3-border-black " placeholder="tarifappelfamille" type="number"></p>
                  <p> <label>Tarifappelorange</label><input [(ngModel)]="bundleofferelementaire.tarifappelorange" name="tarifappelorange"  class="w3-input w3-border-black " placeholder="tarifappelorange" type="number"></p>
                  <p> <label>Tarifappelinternational</label><input [(ngModel)]="bundleofferelementaire.tarifappelinternational" name="tarifappelinternational"  class="w3-input w3-border-black " placeholder="tarifappelinternational" type="number"></p>
                  <p> <label>Tarifdatafb</label><input [(ngModel)]="bundleofferelementaire.tarifdatafb" name="tarifdatafb"  class="w3-input w3-border-black  " placeholder="tarifdatafb" type="number"></p>
                </div>
              </td>
            </tr>
          </table> 
          <div class="action-area " style="padding: 5px;">
            <button   style="margin-right: 2%;" class="w3-hover-white">Mettre à jour<i class="fa fa-edit" style="font-size:14.5px"></i></button>
            <a style="background-color:black; cursor: pointer; " (click)="closeModale()" class="annuler w3-hover-white"> Annuler</a>
          </div>
    
        </form>
  
      </div>
    </div>

</div>