
<app-nav-admin></app-nav-admin>



<div class="position">


  <app-entete></app-entete>


    <div class="crud">
    <div>
      <div class="table-responsive" style="overflow: hidden" style="font-size: 13px;">
        <div class="table-wrapper">
          <div class="table-title " >
            <div class="row">
              <div class="col-sm-6">
                <h2>Groupe d'utilisateur</h2>
              </div>
              <div class="col-sm-6 ">
                <a  onclick="document.getElementById('id01').style.display='block'" (click)="add()" class="w3-button w3-black w3-hover-white" data-toggle="modal" style="float: right;margin: 2%;"><i class="fa fa-plus-circle"></i> <span> Créer</span></a>			
              </div>
            </div>
          </div>
          <table class="table table-striped table-hover "  id="myTable" style="background-color:white ;">
            <thead>
            <tr>

              <th>Trigramme</th>
              <th>Département</th>
              <th>Rôle</th>
              <th>isActive</th>
            </tr>
            <tr *ngFor="let com of lstlogin">
              <td>{{ com.trigramme }}</td>
              <td>{{com.depuser}}</td>
              <td>{{ com.roleuser}}</td>
              <td>
                <span *ngIf="com.activeuser==0"><i class="fa fa-close" style="color: red;"></i></span>
                <span *ngIf="com.activeuser==1"><i class="fa fa fa-check" style="color:  #ff7900;"></i></span>
              </td>

              <td style="cursor: pointer;">
                <a  onclick="document.getElementById('id01').style.display='block'" class="edit" data-toggle="modal"><i style="color: #ff7900;font-size: 28px;" (click)="edit(com)" class="fa fa-edit" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                <a><i style="color: #ff7900;font-size: 28px;margin-left: 8px; " (click)="delete(com)" class="fa fa-trash" data-toggle="tooltip"></i></a>
              
              </td>
              
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>









<!--modale-->  
<div class="w3-container">
 
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center">
        <span (click)="closeModale()" class="w3-button w3-xlarge w3-hover-white w3-display-topright" title="Close Modal">&times;</span>
        
      </div>

      <div class="w3-container" style="padding-left: 26px;">
        <h2 style="text-align: left; color: #ff7900;">{{isEdit ? 'Modification':'Création'}}</h2>
      </div>  
      
      <form  #f ="ngForm" name="form" (ngSubmit)="onSubmit(f)" autocomplete="off" style="padding: 0 25px 15px;"    ><br>

        <p><label>Trigramme</label><input [(ngModel)]="login.trigramme" name="trigramme" class="w3-input  w3-border-black" type="text"  placeholder="trigramme" required> </p>
        <div class="form-group">
          <label>Département :</label>
          <select class="form-control item w3-select w3-border"  [(ngModel)]="login.depuser"  class="w3-input  w3-border-black" name="depuser" style="height: 40px;" >
              <option value="DMCC">DMCC</option>
              <option value="DTI">DTI</option>
          </select>
        </div>
        <div class="form-group">
          <label>Rôle :</label>
          <select class="form-control item w3-select w3-border"  [(ngModel)]="login.roleuser" class="w3-input  w3-border-black" name="roleuser" style="height: 40px;" >
              <option value="US">Utilisateur simple</option>
              <option value="R">Responsable</option>
          </select>
        </div>
        <div class="idprofile">
          <div class="inputGroup">
            <input *ngIf="lstIsObject['activeuser']==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="activeuser" value="activeuser">
            <input *ngIf="lstIsObject['activeuser']==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="activeuser" value="activeuser" checked>
            <label for="activeuser">isActive</label>
          </div> 
        </div>
        <div class="action-area " style="padding: 5px;">
          <button   style="margin-right: 2%;" class="w3-hover-white">{{isEdit ? 'Mettre à jour ':'Créer '}}<i class="{{isEdit?'fa fa-edit':'fa fa-plus-circle'}}" style="font-size:14.5px"></i></button>
          <a   style="background-color:black; cursor: pointer; " (click)="closeModale()" class="annuler w3-hover-white"> Annuler</a>
         </div>
        
      </form>


    </div>
  </div>
</div>

