.position{

  /* position: relative; */
  margin-left: 201px;
  background-color:  #f8f8f8;
  /* width: 1300px; */
  
}

div.w3-border{
  height: 70px;
}

form input.w3-border{
  height: auto;
}

.w3-border img{
  height: 70px;
}

.crud{
  margin-left:20px;
  margin-top:20px;
  margin-right:20px;
  width:auto; 
}

.position img{
   padding: 5px;
}

form{
   background-color: white;
}
a{
  text-decoration: none;
}

.table-title {
 
  background: #ff7900;
  color: #fff;
  padding: 2px 30px;
 /*  min-width: 100%; */
  /* margin: -20px -25px 10px; */
  border-radius: 3px 3px 0 0;
}

.colmn3{
  column-count: 3;    
}
.colmn2{
  column-count: 2;
}


html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #ff7900;
  font-family: 'Lato', sans-serif;
}
.wrapper{
  display: inline-flex;
  background: #fff;

  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #ff7900;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #ff7900;
  background:#ff7900;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}


/*     idprofile    */

.inputGroup {
background-color: #fff;
display: block;
position: relative;
}
.inputGroup label {
padding: 12px 30px;
width: 100%;
display: block;
text-align: left;
color: #3C454C;
cursor: pointer;
position: relative;
z-index: 2;
transition: color 200ms ease-in;
overflow: hidden;
}
.inputGroup label:before {
width: 10px;
height: 10px;
border-radius: 50%;
content: "";
background-color: #ff7900;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) scale3d(1, 1, 1);
transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
z-index: -1;
}
.inputGroup label:after {
width: 32px;
height: 32px;
content: "";
border: 2px solid #D1D7DC;
background-color: #fff;
background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
background-repeat: no-repeat;
background-position: 2px 3px;
border-radius: 50%;
z-index: 2;
position: absolute;
right: 30px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
color: #fff;
}
.inputGroup input:checked ~ label:before {
transform: translate(-50%, -50%) scale3d(56, 56, 1);
opacity: 1;
}
.inputGroup input:checked ~ label:after {
background-color: black;
border-color: black;
}
.inputGroup input {
width: 32px;
height: 32px;
order: 1;
z-index: 2;
position: absolute;
right: 30px;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
visibility: hidden;
}

.idprofile {
padding: 0 16px;
max-width: 550px;
margin: 30px auto;
font-size: 13px;
font-weight: 600;
line-height: 36px;

}

 

     /* new */
     button,a.annuler {
      position: relative;
      background: #ff7900;
      border: none;
      box-sizing: border-box;
      box-shadow: 0 0 4px rgb(0 0 0 / 30%);
      padding: 9px 5px 9px;
      padding: .5625rem .9375rem .5625rem;
      color: white;
      font-size: 14px;
      font-size: .875rem;
      line-height: 1;
      text-decoration: none;
      overflow: hidden;
      -webkit-transition: background-color ease 0.2s;
      -moz-transition: background-color ease 0.2s;
      -o-transition: background-color ease 0.2s;
      transition: background-color ease 0.2s;
      outline: #ff7900;
     
  }
  
  
  
   .action-area {
      margin-top: 20px;
      margin-top: 1.25rem;
      text-align: center;
  }
  
  
  
  .inputGroup {

    border: 1px solid #ced4da;
    height: 62px;
    border-radius: 5px;
  margin-bottom: 5px;
  
  }
.top{
vertical-align: top;
padding-left: 15px;
}
textarea.gp{
height: 42px;
}
