
<app-nav-admin></app-nav-admin>

<div class="position">


  <app-entete></app-entete>  
      
      
     <div class="crud">
      <div >

        <div>
          <div class="table-responsive" style="font-size: 13px" >
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-sm-6">
                    <h2>Services</h2>
                  </div>
                  <div class="col-sm-6 ">
                    <a  onclick="document.getElementById('id01').style.display='block'" (click)="add()" class="w3-button w3-black w3-hover-white" data-toggle="modal" style="float: right;margin: 2%;"><i class="fa fa-plus-circle"></i> <span> Créer</span></a>
                    <!-- <a  onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-black w3-hover-white" data-toggle="modal" style="float: right;margin: 2%;"><i class="fa fa-plus-circle"></i> <span> Créer profile</span></a> -->			
                  </div>
                </div>
              </div>
              <table class="table table-striped table-hover "  id="myTable" style="background-color:white ;">
                <thead>
                <tr>
                  
                  <!-- <th>Idotherservice</th> -->
                  <!-- <th>Refill</th> -->
                  <th>Nom</th>
                  <th>Description</th>
                  <th>Prix</th>
                  <th>Taxe</th>
                <!--  <th>isActive</th> -->
                <!--  <th>Validite</th> -->
                <!--   <th>Groups</th> -->
                <!--  <th>grouprank</th> -->
                  <th>Groups1</th>
                <!--  <th>groupsrank1</th> -->
                  <th>Groups2</th>
                <!--  <th>groupsrank2</th>
                  <th>Groups3</th>
                  <th>groupsrank3</th>
                  <th>order</th>
                  <th> Commentaire</th>
                  <th> groupsrank</th> -->
                <th>Actions</th>
                

                </tr>
                <tr *ngFor="let com of lstOtherservice">
                
                <!-- <td>{{ com.idotherservice }}</td> -->
                <!-- <td>{{ com.refill }}</td> -->
                <td>{{ com.nom}}</td>
                <td>{{ com.description}}</td>
                <td>{{ com.prix}}</td>
                <td>{{ com.taxe}}</td>
                <!-- <td>{{ com.isActive}}</td> -->
                <!-- <td>{{ com.validite}}</td> -->
                <!-- <td>{{ com.groups }}</td> -->
                <!-- <td>{{ com.grouprank}}</td> -->
                <td>{{ com.groups1}}</td>
                <!-- <td>{{ com.groupsrank1}}</td> -->
                <td>{{ com.groups2}}</td>
                <!--  <td>{{ com.groupsrank2}}</td>
                <td>{{ com.groups3 }}</td>
                <td>{{ com.groupsrank3}}</td>
                <td>{{ com.order}}</td>
                <td>{{ com.commentaire}}</td>
                <td>{{ com.groupsrank}}</td> -->
                
            <td style="cursor: pointer;">
                    <a  onclick="document.getElementById('id01').style.display='block'" class="edit" data-toggle="modal"><i style="color: #ff7900;font-size: 28px;" (click)="edit(com)" class="fa fa-edit" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                  <!-- <a><i style="color: #ff7900;font-size: 28px;margin-left: 8px; " (click)="delete(com)" class="fa fa-trash" data-toggle="tooltip"></i></a>-->
                  
                  </td>
                  
                </tr>
              </thead>
              </table>
            </div>
          </div>

        </div>



      

      </div>
    </div>


</div>







<!--modale-->  
<div class="w3-container">
 
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:1600px">

      <div class="w3-center">
        <span (click)="closeModale()" class="w3-button w3-xlarge w3-hover-white w3-display-topright" title="Close Modal">&times;</span>
      </div>

      <div class="w3-container" style="padding-left: 26px;">
        <h2 style="text-align: left; color: #ff7900;">{{isEdit ? 'Modification':'Création'}}</h2>
      </div> 

      <form  #f ="ngForm" name="form" (ngSubmit)="onSubmit(f)" autocomplete="off"  style="padding: 0 25px 15px;"    >
   <table>
      <tr>
        <td class="top" > 
          <p><input [(ngModel)]="otherservice.idotherservice" name="idotherservice" class="w3-input  w3-border-black"  type="hidden" ></p>
          <p><label>Refill</label><input [(ngModel)]="otherservice.refill" name="refill" class="w3-input  w3-border-black" placeholder="refill" type="text"></p>
          <p><label>Nom</label><textarea [(ngModel)]="otherservice.nom" name="nom" class="w3-input  w3-border-black" placeholder="nom"></textarea></p>
          <p><label>Description</label><textarea [(ngModel)]="otherservice.description" name="description" class="w3-input  w3-border-black" placeholder="description" ></textarea></p>
  
          <div class="colmn3">
            <p><label>Prix</label><input [(ngModel)]="otherservice.prix" name="prix" class="w3-input  w3-border-black" placeholder="prix" type="text"></p>
            <p><label>Taxe</label><input [(ngModel)]="otherservice.taxe" name="taxe" class="w3-input  w3-border-black" placeholder="taxe" type="text"></p>
            <p><label>Validite</label><input [(ngModel)]="otherservice.validite" name="validite" class="w3-input  w3-border-black" placeholder="validite" type="text"></p>
            </div> 
            <div class="idprofile">
              <div class="inputGroup">
                <input *ngIf="lstIsObject['isActive']==0" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isActive" value="isActive">
                <input *ngIf="lstIsObject['isActive']==1" type="checkbox" (change)="changeValueCheckboxIs($event)" id="isActive" value="isActive" checked>
                <label for="isActive">isActive</label>
              </div> 
          </div>

          <div style="display: flex;">
            <div style="width: 150px">
              <div>
                <span>Groupsrank</span>
              </div>
              <input  [(ngModel)]="otherservice.groupsrank" name="groupsrank"  type="number" min="0" (keypress)="onlyInteger($event)" class="form-control" placeholder="groupsrank">
            </div>
  
            <div class="input-group mb-3" style=" padding-left: 15px;">
              <div class="input-group-prepend">
                <span >Groups</span>
              </div>
              <select id="groups" class="w3-input  w3-border-black" [(ngModel)]="otherservice.groups" name="groups" style="height: 40px;" (change)="changeSelectedGroups($event)" >
                <option *ngFor="let groups of lstGroups" value={{groups}}>{{groups}}</option>
                <option value="autre">Autre...</option>
              </select>
              <textarea id="textareaGroups" class="form-control" style="display:none;" placeholder="Veuillez saisir le nouveau 'groups'" ></textarea>
            </div>
          </div>        
  
          <div style="display: flex;">
                <div  style="width: 150px;">
                  <div>
                    <span >Groupsrank1</span>
                  </div>
                  <input [(ngModel)]="otherservice.groupsrank1" name="groupsrank1"  type="number" min="0" (keypress)="onlyInteger($event)" class="form-control" placeholder="groupsrank1">
                </div>
  
                <div class="input-group mb-3" style=" padding-left: 15px;">
                  <div class="input-group-prepend">
                    <span >Groups1</span>
                  </div>
                  <select id="groups1" class="w3-input  w3-border-black" [(ngModel)]="otherservice.groups1" name="groups1" style="height: 40px;" (change)="changeSelectedGroups1($event)" >
                    <option *ngFor="let groups1 of lstGroups1" value={{groups1}}>{{groups1}}</option>
                    <option value="autre">Autre...</option>
                  </select>
                  <textarea id="textareaGroups1" class="form-control" style="display:none;" placeholder="Veuillez saisir le nouveau 'groups1'" ></textarea>
                </div>
          </div>
  
          <div style="display: flex;"> 
                <div style="width: 150px;">
                  <div>
                    <span >Groupsrank2</span>
                  </div>
                  <input [(ngModel)]="otherservice.groupsrank2" name="groupsrank2"  type="number" min="0" (keypress)="onlyInteger($event)" class="form-control" placeholder="groupsrank2">
                </div>
  
                <div class="input-group mb-3"  style=" padding-left: 15px;">
                  <div class="input-group-prepend">
                    <span >Groups2</span>
                  </div>
                  <select id="groups2" class="w3-input  w3-border-black" [(ngModel)]="otherservice.groups2" name="groups2" style="height: 40px;" (change)="changeSelectedGroups2($event)" >
                    <option *ngFor="let groups2 of lstGroups2" value={{groups2}}>{{groups2}}</option>
                    <option value="autre">Autre...</option>
                  </select>
                  <textarea id="textareaGroups2" class="form-control" style="display:none;" placeholder="Veuillez saisir le nouveau 'groups2'" ></textarea>
                </div>
          </div>
  
          <div style="display: flex;">   
              <div style="width: 150px;">
                <div>
                  <span >Groupsrank3</span>
                </div>
                <input [(ngModel)]="otherservice.groupsrank3" name="groupsrank3"  type="number" min="0" (keypress)="onlyInteger($event)" class="form-control" placeholder="groupsrank2">
              </div>
            <div class="input-group mb-3"  style=" padding-left: 15px;">
                <div class="input-group-prepend">
                  <span >Groups3</span>
                </div>
                <select id="groups3" class="w3-input  w3-border-black" [(ngModel)]="otherservice.groups3" name="groups3" style="height: 40px;" (change)="changeSelectedGroups3($event)">
                  <option *ngFor="let groups3 of lstGroups3" value={{groups3}}>{{groups3}}</option>
                  <option value="autre">Autre...</option>
                </select>
                <textarea id="textareaGroups3" class="form-control" style="display:none;" placeholder="Veuillez saisir le nouveau 'groups3'" ></textarea>
              </div>
          </div>

          <p><label>Order</label><input [(ngModel)]="otherservice.order" name="order" class="w3-input  w3-border-black" placeholder="order" type="text"></p>
          <p><label>Groupsrank</label><input [(ngModel)]="otherservice.groupsrank" name="groupsrank" class="w3-input  w3-border-black" placeholder="Groupsrank" type="text"></p>  
          <p><label>Commentaire</label><textarea [(ngModel)]="otherservice.commentaire" name="commentaire" class="w3-input  w3-border-black" placeholder="commentaire" ></textarea></p>
        </td>
        <td class="top" style="width: 35%;">       
          <!-- Profileotherservice -->
          <div  class="idprofile" style="margin-top: 38px;"> 
            <div class="inputGroup" *ngFor="let profile of lstprofile">
              <input *ngIf="mylstprofileObject[profile]==false" type="checkbox" (change)="changeValueCheckbox($event)" id={{profile}} value={{profile}}>
              <input *ngIf="mylstprofileObject[profile]==true" type="checkbox" (change)="changeValueCheckbox($event)" id={{profile}} value={{profile}} checked>
              <label for={{profile}}>{{ profile }}</label>
            </div>
          </div>
        </td>
     </tr>
  </table>
       
        
        
       

        <div class="action-area " style="padding: 5px;">
          <button   style="margin-right: 2%;" class="w3-hover-white">{{isEdit ? 'Mettre à jour ':'Créer '}}<i class="{{isEdit?'fa fa-edit':'fa fa-plus-circle'}}" style="font-size:14.5px"></i></button>
          <a   style="background-color:black; cursor: pointer; " (click)="closeModale()" class="annuler w3-hover-white"> Annuler</a>
        </div>

      </form>

      
      
      

    </div>
  </div>
</div>


