

<app-nav-marketing></app-nav-marketing>





<div class="position">


  <app-entete></app-entete>
  
      
    <div class="crud">
      <div>
          <div class="table-responsive" style="font-size: 13px;" >
            <div class="table-wrapper">
              <div class="table-title">
                <div class="row">
                  <div class="col-sm-6">
                    <h2>Utilisateur simple <b>DMCC</b></h2>
                  </div>
                
                </div>
              </div>



              <table class="table table-striped table-hover "  id="myTable" style="background-color:white ;">
                <thead>
                <tr>
                  
                  <th>Nom</th>
                <!-- <th>isBuyableForOther</th>
                  <th>Isautorenewable</th>
                  <th>Isbuylimited</th>
                  <th>Buymaximum</th>
                  <th>Buyfrequency</th>-->
                  <th>Description</th>
                  <th>Prix</th>
                  <!-- <th>Taxe</th> -->
                  <th>Validite</th>
                <!-- <th>isBuyableByOM</th>
                  <th>isBuyableWithLanyCredit</th>-->
                  <th>Groups</th>
                  <!--<th>Grouprank</th>-->
                  <!-- <th>Groups1</th> -->
                  <!--<th>Groupsrank1</th>-->
                  <!-- <th>Groups2</th> -->
                <!-- <th>Groupsrank2</th>-->
                <!-- <th>Groups3</th>
                  <th>Groupsrank3</th>
                  <th>Groups4</th>
                  <th>Groupsrank4</th>
                  <th>Groups5</th>
                  <th>Groupsrank5</th>
                  <th>Generalrank</th>
                  <th>Commentaire</th>-->
                  <th>Actions</th>
                  
                </tr>
                <tr *ngFor="let com of lstBundle">
                
                  <td>{{ com.nom }}</td>
                  <!--<td>{{ com.isBuyableForOther }}</td>
                  <td>{{ com.isautorenewable}}</td>
                  <td>{{ com.isbuylimited}}</td>
                  <td>{{ com.buymaximum }}</td>
                  <td>{{ com.buyfrequency}}</td>-->
                  <td>{{ com.description}}</td>
                  <td>{{ com.prix }}</td>
                <!--  <td>{{ com.taxe}}</td> -->
                  <td>{{ com.validite}}</td>
                  <!--<td>{{ com.isBuyableByOM}}</td>
                  <td>{{ com.isBuyableWithLanyCredit}}</td>-->
                  <td>{{ com.groups }}</td>
                <!-- <td>{{ com.grouprank}}</td>-->
                  <!-- <td>{{ com.groups1}}</td> -->
                <!-- <td>{{ com.groupsrank1}}</td>-->
                  <!-- <td>{{ com.groups2}}</td> -->
                  <!--<td>{{ com.groupsrank2}}</td>
                  <td>{{ com.groups3 }}</td>
                  <td>{{ com.groupsrank3}}</td>
                  <td>{{ com.groups4}}</td>
                  <td>{{ com.groupsrank4}}</td>
                  <td>{{ com.groups5}}</td>
                  <td>{{ com.groupsrank5}}</td>
                  <td>{{ com.generalrank}}</td>
                  <td>{{ com.commentaire}}</td>-->
                  
                  <td style="cursor: pointer;">
                    <a  onclick="document.getElementById('id01').style.display='block'" data-toggle="modal"><i id="logo" style="color: #ff7900;font-size: 28px;" (click)="view(com)" class="fa fa-eye" data-toggle="tooltip" title="" data-original-title="Edit"></i></a>
                   <!-- <a><i style="color: #ff7900;font-size: 28px;margin-left: 8px; " (click)="delete(com)" class="fa fa-trash" data-toggle="tooltip"></i></a>-->
                  
                  </td>
                  
                </tr>
              </thead>
              </table>


            </div>


          </div>

      </div>
    </div>

</div>



    <!--modale-->  
    <div class="w3-container">
    
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="width:1000px">

          <div class="w3-center">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-white w3-display-topright" title="Close Modal">&times;</span>
            
          </div>

      
          <div class="w3-container" style="padding-left: 26px;">
              <h2 style="text-align: left; color: #ff7900;">Offre</h2>
          </div> 
          
          <form autocomplete="off" style="padding: 0 25px 15px;">
          
        <table>
           <tr>
           <td  class="top" >
             
            <div class="input-group mb-3">
              
              <input [(ngModel)]="bundle.idbundle" name="idbundle"  type="hidden" class="w3-border-black w3-input" disabled >
            </div>

            <div class="input-group mb-3"> 
              <div class="input-group-prepend">
                <span >Nom</span>
              </div>   
              <textarea [(ngModel)]="bundle.nom" name="nom"  type="text" class="w3-border-black w3-input" placeholder="nom" disabled></textarea>
            </div>
           
            <div class="isCheckbox" style="display: flex;"> 
              <div class="checkGroup" style="margin-right:0.8%;width: 85%;">
                <input *ngIf="bundle.isautorenewable==0" type="checkbox"  id="isautorenewable" value="isautorenewable" disabled>
                <input *ngIf="bundle.isautorenewable==1" type="checkbox"  id="isautorenewable" value="isautorenewable" disabled checked>
                <label for="isautorenewable">isAutorenewable</label>
              </div> 
              <div class="checkGroup" style="width: 90%;">
                <input *ngIf="bundle.isBuyableForOther==0" type="checkbox"  id="isBuyableForOther" value="isBuyableForOther" disabled>
                <input *ngIf="bundle.isBuyableForOther==1" type="checkbox"  id="isBuyableForOther" value="isBuyableForOther" disabled checked>
                <label for="isBuyableForOther">isBuyableForOther</label>
              </div>
            </div>  
            <div class="isCheckbox" style="display: flex;"> 
              <div class="checkGroup" style="margin-right:0.8%;width: 85%;">
                <input *ngIf="bundle.isBuyableWithLanyCredit==0" type="checkbox"  id="isBuyableWithLanyCredit" value="isBuyableWithLanyCredit" disabled>
                <input *ngIf="bundle.isBuyableWithLanyCredit==1" type="checkbox"  id="isBuyableWithLanyCredit" value="isBuyableWithLanyCredit" disabled checked>
                <label for="isBuyableWithLanyCredit">isBuyableWithLanyCredit</label>
              </div>
              <div class="checkGroup" style="width: 90%;">
                <input *ngIf="bundle.isBuyableByOM==0" type="checkbox"  id="isBuyableByOM" value="isBuyableByOM" disabled>
                <input *ngIf="bundle.isBuyableByOM==1" type="checkbox"  id="isBuyableByOM" value="isBuyableByOM" disabled checked>
                <label for="isBuyableByOM">isBuyableByOM</label>
              </div>
            </div> 
           
            <div class="isCheckbox">
              <div class="checkGroup" >
                <input *ngIf="bundle.isbuylimited==0" type="checkbox"  id="isbuylimited" value="isbuylimited" disabled>
                <input *ngIf="bundle.isbuylimited==1" type="checkbox"  id="isbuylimited" value="isbuylimited" disabled checked>
                <label for="isbuylimited">isBuylimited</label> 
              </div>
            </div> 
          
              <br>

            
    <div class="buyLimitedChecked">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Buyfrequency</span>
          </div>
          <input [(ngModel)]="bundle.buyfrequency" name="buyfrequency"  type="text" class="form-control" placeholder="buyfrequency" disabled>
        </div>
      
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Buymaximum</span>
          </div>
          <input [(ngModel)]="bundle.buymaximum" name="buymaximum"  type="number" min="0"  class="form-control" placeholder="isBuyableByOM" disabled>
        </div>

    </div>   
    <div class="colmn">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Prix</span>
            </div>
            <input [(ngModel)]="bundle.prix" name="prix"  type="number" class="form-control" placeholder="prix" disabled>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Taxe</span>
            </div>
            <input [(ngModel)]="bundle.taxe" name="taxe"  type="text" class="form-control" placeholder="taxe" disabled>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Validite</span>
            </div>
            <input [(ngModel)]="bundle.validite" name="validite"  type="text" class="form-control" placeholder="validite" disabled>
          </div>
          
    </div> 
 
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span >Description</span>
      </div> 
      <textarea [(ngModel)]="bundle.description" name="description"  type="text" class="w3-border-black w3-input" placeholder="description" disabled></textarea>
    </div>


            <div style="display: flex;">
              <div  style="width: 150px;">
                <div >
                  <span >Grouprank</span>
                </div>
                <input  [(ngModel)]="bundle.grouprank" name="grouprank"  type="text" class="w3-border-black w3-input " disabled>
              </div>

                  <div class="input-group mb-3" style=" padding-left: 5%;">
                    <div class="input-group-prepend">
                      <span >Groups</span>
                    </div>
                    <textarea [(ngModel)]="bundle.groups" name="groups"  type="text" class="w3-border w3-input " disabled></textarea>
                  </div>
            </div>        

              <div style="display: flex;">
                  <div  style="width: 150px;">
                    <div class="input-group-prepend">
                      <span >Groupsrank1</span>
                    </div>
                    <input [(ngModel)]="bundle.groupsrank1" name="groupsrank1"  type="text" class="w3-border-black w3-input " disabled>
                  </div>

                  <div class="input-group mb-3" style=" padding-left: 5%;">
                    <div class="input-group-prepend">
                      <span >Groups1</span>
                    </div>
                    <textarea [(ngModel)]="bundle.groups1" name="groups1"  type="text" class="w3-border w3-input" disabled></textarea>
                  </div>
              </div>

              <div style="display: flex;"> 
                  <div style="width: 150px;">
                    <div class="input-group-prepend">
                      <span >Groupsrank2</span>
                    </div>
                    <input [(ngModel)]="bundle.groupsrank2" name="groupsrank2"  type="text" class="w3-border-black w3-input " disabled>
                  </div>

                  <div class="input-group mb-3"  style=" padding-left: 5%;">
                    <div class="input-group-prepend">
                      <span>Groups2</span>
                    </div>
                    <textarea [(ngModel)]="bundle.groups2" name="groups2"  type="text" class="w3-border w3-input " disabled></textarea>
                  </div>
              </div>

              <div style="display: flex;">   
                  <div style="width: 150px;">
                    <div class="input-group-prepend">
                      <span >Groupsrank3</span>
                    </div>
                    <input [(ngModel)]="bundle.groupsrank3" name="groupsrank3"  type="text" class="w3-border-black w3-input " disabled>
                  </div>
                  <div class="input-group mb-3"  style=" padding-left: 5%;">
                    <div class="input-group-prepend">
                      <span >Groups3</span>
                    </div>
                    <textarea [(ngModel)]="bundle.groups3" name="groups3"  type="text" class="w3-border w3-input " disabled></textarea>
                  </div>
              </div>
                  
              <div style="display: flex;">   
                  <div style="width: 150px;">
                    <div class="input-group-prepend">
                      <span >Groupsrank4</span>
                    </div>
                    <input [(ngModel)]="bundle.groupsrank4" name="groupsrank4"  type="text" class="w3-border-black w3-input " disabled>
                  </div>
                  <div class="input-group mb-3" style=" padding-left: 5%;">
                    <div class="input-group-prepend">
                      <span>Groups4</span>
                    </div>
                    <textarea [(ngModel)]="bundle.groups4" name="groups4"  type="text" class="w3-border w3-input " disabled></textarea>
                  </div>
                </div>
                  
              <div style="display: flex;">   
                  <div style="width: 150px;">
                    <div class="input-group-prepend">
                      <span >Groupsrank5</span>
                    </div>
                    <input [(ngModel)]="bundle.groupsrank5" name="groupsrank5"  type="text" class="w3-border-black w3-input " disabled>
                  </div>
                  <div class="input-group mb-3"  style=" padding-left: 5%;">
                    <div class="input-group-prepend">
                      <span >Groups5</span>
                    </div>
                    <textarea [(ngModel)]="bundle.groups5" name="groups5"  type="text" class="w3-border w3-input " disabled></textarea>
                  </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Generalrank</span>
                </div>
                <input [(ngModel)]="bundle.generalrank" name="generalrank"  type="number" min="0"  class="form-control" placeholder="generalrank" disabled>
              </div>
          
            
    <div class="input-group mb-3"> 
      <div class="input-group-prepend">
        <span >Commentaire</span>
      </div> 
      <textarea [(ngModel)]="bundle.commentaire" name="commentaire"  type="text" class="w3-border-black w3-input" placeholder="commentaire" disabled></textarea>
    </div>
           </td>
           
           <td  class="top" style="width: 25%; padding-top: 38px;  ">
            <div  class="idprofile" > 
              <div class="inputGroup" *ngFor="let profile of lstprofile">
                <input *ngIf="mylstprofileObject[profile]==false" type="checkbox" id={{profile}} value={{profile}} disabled>
                <input *ngIf="mylstprofileObject[profile]==true" type="checkbox" id={{profile}} value={{profile}} checked disabled>
                <label for={{profile}}>{{ profile }}</label>
              </div>
            </div>
           </td>
           </tr>
        </table>    
        

            <!-- Bundleofferelementaire -->
            <p>Voici les offres élémentaires associés à cette offre avec sa quantité : </p>
            <table class="w3-table w3-border w3-bordered   w3-centered " >
              <tr>
                <th >Offre élémentaire</th>
                <th >Quantité</th>
              </tr>
              <tr>
                <td>
                  <div class="mycontainer">
                    <ul class="ks-cboxtags">   
                      <li *ngFor="let nature of lstnature">
                        <input *ngIf="mylstnatureObject[nature]==false" type="checkbox" id={{nature}} value={{nature}} disabled>
                        <input *ngIf="mylstnatureObject[nature]==true" type="checkbox" id={{nature}} value={{nature}} checked disabled>
                        <label for={{nature}}>{{nature}}</label>
                      </li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div style="width: auto;margin-left:10px;margin-right:10px;" *ngFor="let natureSelected of listeSelectedNature; let i=index">
                    <div class="input-group mb-3" class=" w3-orange  w3-panel w3-round-xlarge" style="padding: 6px;">
                      <div class="input-group-prepend " style="width:100%">
                        <span class="input-group">{{natureSelected}}</span>
                      </div>
                      <div class="quantity" style="display:inline;">
                        <input type="text" class="form-control" style="display:inline; width:70%;margin-right:2px" value={{listQuantity[i]}} disabled>
                      </div>
                      <input type="text" class="form-control" style="display:inline; width:25%" value={{listUnit[i]}} disabled>
                    </div>
                  </div>
                </td>
              </tr>
            </table>


            <!-- Profilebundle -->
           

           
           

            

            
              <div class="action-area">
                <button  onclick="document.getElementById('id01').style.display='none'" style="margin-right: 2%;" class="w3-hover-black">Fermer</button>
                
               </div>

          </form>

          
          

        </div>
      </div>
    </div>








