.position{

  /* position: relative; */
  margin-left: 201px;
  background-color:  #f8f8f8;
  /* width: 1300px; */
  
}


.w3-border img{
  height: 70px;
}

.crud{
  margin-left:20px;
  margin-top:20px;
  margin-right:20px;
  width:auto; 
}

.position img{
   padding: 5px;
}

form{
   background-color: white;
}
a{
  text-decoration: none;
}

.table-title {
 
  background: #ff7900;
  color: #fff;
  padding: 2px 30px;
 /*  min-width: 100%; */
  /* margin: -20px -25px 10px; */
  border-radius: 3px 3px 0 0;
}


.colmn{
  column-count: 3;    
}
.colmn2{
  column-count: 2;
}
.buyLimitedChecked{
  column-count: 2;
}
.colmn5{
  column-count: 5;
}
.colmnRadio2{

margin: 2%;
column-count: 2;
padding-left: 22%;
} 
.colmnRadio3{
column-count: 3;
padding-left: 10%;  
}
*:focus{
  box-shadow: none;
  border-color: #ff7900;
  outline: none;

}
.colmn4{
  column-count: 4;
}


.button-add{
  width: 30%;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ff7900;
  border: none;
  color: white;
  margin-top: 10px;
  margin-left: 350px;
}







form select{
  margin-right: 8px;
  width: 100%;
}





.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input-group label {
  margin: 0;
  flex: 1;
}



/* Bundleofferelementaire */
.mycontainer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  margin-left:20px;
  margin-top:20px;
  margin-right:20px;
  width:auto; 
  }

  td{
      width: 50%;
  }

  ul.ks-cboxtags {
      list-style: none;
      padding: 20px;
  }
  ul.ks-cboxtags li{
  display: inline;
  }
  ul.ks-cboxtags li label{
      display: inline-block;
      background-color: rgba(255, 255, 255, .9);
      border: 2px solid rgba(139, 139, 139, .3);
      color: #adadad;
      border-radius: 25px;
      white-space: nowrap;
      margin: 3px 0px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      transition: all .2s;
  }

  ul.ks-cboxtags li label {
      padding: 8px 12px;
      cursor: pointer;
  }

  ul.ks-cboxtags li label::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "FontAwesome";
      font-weight: 900;
      font-size: 12px;
      padding: 2px 6px 2px 2px;
      content: "\f067";
      transition: transform .3s ease-in-out;
  }

  ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
      content: "\f00c";
      transform: rotate(-360deg);
      transition: transform .3s ease-in-out;
  }

  ul.ks-cboxtags li input[type="checkbox"]:checked + label {
      border: 2px solid  #ff7900;
      background-color:  #ff7900;
      color: #fff;
      transition: all .2s;
  }

  ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
  }
  ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  }
  ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid white;
  }
  .button-add{
      width: 30%;
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: bold;
      background-color: #ff7900;
      border: none;
      color: white;
      margin-top: 10px;
      margin-left: 350px;
  }



  
.wrapper{
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 10px 5px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  width: 100%;
}
.wrapper .option{
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{

  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background:  #ff7900;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color:  #ff7900;
  background:  #ff7900;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
/*   opacity: 1; */
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-3:checked:checked ~ .option-1 span,
#option-4:checked:checked ~ .option-2 span{
  color: #fff;
}
#option-3:checked:checked ~ .option-1,
#option-4:checked:checked ~ .option-2{
  border-color:  #ff7900;
  background:  #ff7900;
}
#option-3:checked:checked ~ .option-1 .dot,
#option-4:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-3:checked:checked ~ .option-1 .dot::before,
#option-4:checked:checked ~ .option-2 .dot::before{
 /*  opacity: 1; */
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-5:checked:checked ~ .option-1 span,
#option-6:checked:checked ~ .option-2 span{
  color: #fff;
}
#option-5:checked:checked ~ .option-1 span,
#option-6:checked:checked ~ .option-2 span{
  color: #fff;
}
#option-5:checked:checked ~ .option-1,
#option-6:checked:checked ~ .option-2{
  border-color:  #ff7900;
  background:  #ff7900;
}
#option-5:checked:checked ~ .option-1 .dot,
#option-6:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-5:checked:checked ~ .option-1 .dot::before,
#option-6:checked:checked ~ .option-2 .dot::before{
/*   opacity: 1; */
  transform: scale(1);
}

#option-5:checked:checked ~ .option-1 span,
#option-6:checked:checked ~ .option-2 span{
  color: #fff;
}







#option-7:checked:checked ~ .option-1 span,
#option-8:checked:checked ~ .option-2 span{
  color: #fff;
}
#option-7:checked:checked ~ .option-1 span,
#option-8:checked:checked ~ .option-2 span{
  color: #fff;
}
#option-7:checked:checked ~ .option-1,
#option-8:checked:checked ~ .option-2{
  border-color:  #ff7900;
  background:  #ff7900;
}
#option-7:checked:checked ~ .option-1 .dot,
#option-8:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-7:checked:checked ~ .option-1 .dot::before,
#option-8:checked:checked ~ .option-2 .dot::before{
  /* opacity: 1; */
  transform: scale(1);
}

#option-7:checked:checked ~ .option-1 span,
#option-8:checked:checked ~ .option-2 span{
  color: #fff;
}





#option-9:checked:checked ~ .option-1 span,
#option-10:checked:checked ~ .option-2 span{
  color: #fff;
}
#option-9:checked:checked ~ .option-1 span,
#option-10:checked:checked ~ .option-2 span{
  color: #fff;
}
#option-9:checked:checked ~ .option-1,
#option-10:checked:checked ~ .option-2{
  border-color:  #ff7900;
  background:  #ff7900;
}
#option-9:checked:checked ~ .option-1 .dot,
#option-10:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-9:checked:checked ~ .option-1 .dot::before,
#option-10:checked:checked ~ .option-2 .dot::before{
 /*  opacity: 1; */
  transform: scale(1);
}

#option-9:checked:checked ~ .option-1 span,
#option-10:checked:checked ~ .option-2 span{
  color: #fff;
}




















/*     idprofile    */

.inputGroup {
  background-color: #fff;
  display: block;
  position: relative;
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: #ff7900;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: black;
  border-color: black;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.idprofile {
  padding: 0 16px;
  max-width: 5500px;
 
  font-size: 13px;
  font-weight: 600;
  line-height: 36px;
  
}


/* checkGroup */

.checkGroup {
  background-color: #fff;
  

}
.checkGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  margin-bottom: 0rem;
}

.checkGroup label:after {
  width: 32px;
  height: 32px;
  content: "";
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.checkGroup input:checked ~ label {
  color: #fff;
  background-color: #ff7900;
}

.checkGroup input:checked ~ label:after {
  background-color: black;
  border-color: black;
}
.checkGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.isCheckbox {
  font-size: 13px;
  font-weight: 600;
  line-height: 36px;
  
}




code {
  background-color: #9AA3AC;
  padding: 0 8px;
}



    /* new */

    
    .checkGroup,.inputGroup {

      border: 1px solid #ced4da;
      height: 62px;
      border-radius: 5px;
      margin-bottom: 5px;
    
    
    }
          button,a.annuler {
            position: relative;
            background: #ff7900;
            border: none;
            box-sizing: border-box;
            box-shadow: 0 0 4px rgb(0 0 0 / 30%);
            padding: 9px 5px 9px;
            padding: .5625rem .9375rem .5625rem;
            color: white;
            font-size: 14px;
            font-size: .875rem;
            line-height: 1;
            text-decoration: none;
            overflow: hidden;
            -webkit-transition: background-color ease 0.2s;
            -moz-transition: background-color ease 0.2s;
            -o-transition: background-color ease 0.2s;
            transition: background-color ease 0.2s;
            outline: #ff7900;
           
        }
        
        
        
         .action-area {
            margin-top: 20px;
            margin-top: 1.25rem;
            text-align: center;
        }
        textarea{
          height: 70px;
        }
        
        td.top{
          vertical-align: top;
          padding-left: 15px;
        }
        
    

